// Class that creates a tile-based system that fills the space based on gap-size
// and min-width for each individual tile
.grid {
  --min-tile-width: var(--size-1);
  --gap: var(--spacing-2);

  display: grid;
  grid-row-gap: var(--gap);
  grid-column-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(var(--min-tile-width), 1fr));
  width: 100%;
}
