// Layout assuming three rows, in which the middle row takes available space
// Any additional rows exceeding the set 3, will automatically get the
// 'auto' flag.
.pancake {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 100%;
  min-height: 100vh;
}
