// Class that creates a tile-based system that fills the space based on gap-size
// and min-width for each individual tile
.tiles {
	--tiles-width: var(--size-0);
	--tiles-gap: var(--spacing-0);

	display: grid;
	grid-row-gap: var(--tiles-gap);
	grid-column-gap: var(--tiles-gap);
	grid-template-columns: repeat(auto-fit, minmax(var(--tiles-width), 1fr));
	width: 100%;
}

// Generate classes to set the tile gap
@each $name, $space in $spacing {
	.tiles-g-#{$name} {
		--tiles-gap: var(--spacing-#{$name});
	}
}

// Generate classes to set the tile min-sizes
@each $name, $size in $sizes {
	.tiles-w-#{$name} {
		--tiles-width: var(--size-#{$name});
	}
}
