// centering layout with scaling side columns allowing for child elements (e.g.
// images) to span bigger than the actual center column

.wrapper {
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns:
    minmax(var(--spacing-0), 1fr)
    minmax(auto, var(--page-width))
    minmax(var(--spacing-0), 1fr);

  > * {
    grid-column: 2;
  }
}

.wide-layout {
  --page-width: var(--size-5);
}

.wrapper-exception {
  --max-width: calc(var(--page-width) + 2 * var(--spacing-3));
  grid-column: 2;
}
