footer {
  padding: var(--token-size-2) var(--token-size-2) var(--token-size-5);
  background: var(--surface-1);
  font-size: var(--token-size-00);
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

footer li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

footer .quote {
  width: min(100%, var(--token-bp-1));
  opacity: 0.8;
}

footer .quote path {
  fill: var(--primary);
}
