footer {
  padding: var(--token-size-2) var(--token-size-2) var(--token-size-5);
  background: var(--token-brand-1);
  font-size: var(--token-size-00);
  color: var(--token-neutral-5);
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

footer li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.icon {
  color: var(--primary);
  width: 2rem;
  padding: 4px;
  object-fit: contain;
  aspect-ratio: 1 / 1;
}

footer .icon {
  color: var(--token-neutral-4);
}

footer .title {
  font-family: var(--monospace);
  font-size: var(--token-size-0);
  line-height: 1.1;
  font-style: italic;
  font-weight: 600;
  opacity: 0.8;
}
