.grid {
  display: grid;
  grid-template-columns:
    minmax(var(--spacing), 1fr)
    minmax(auto, var(--site-width))
    minmax(var(--spacing), 1fr);
}

.cell--left {
  grid-column: 1;
}

.cell--middle {
  grid-column: 2;
}

.cell--right {
  grid-column: 3;
}

.tiles {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-column-gap: var(--spacing);
  grid-row-gap: calc(2 * var(--spacing));
  grid-template-columns: repeat(auto-fit, minmax(var(--card), 1fr));
}
