.center-layout {
  width: 100%;
  max-width: calc(var(--page-width, var(--size-5)) + 2 * var(--spacing-2));
  margin: 0 auto;
  padding: 0 var(--spacing-0);
}

.grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns:
    minmax(var(--spacing-0), 1fr)
    minmax(auto, var(--page-width, var(--size-5)))
    minmax(var(--spacing-0), 1fr);
}

.cell--left {
  grid-column: 1;
}

.cell--middle {
  grid-column: 2;
}

.cell--right {
  grid-column: 3;
}

.tiles {
  display: grid;
  grid-row-gap: var(--spacing-3);
  grid-column-gap: var(--spacing-2);
  grid-template-columns: repeat(auto-fit, minmax(var(--size-1), 1fr));
  width: 100%;
  margin: 0 auto;
}
