:root {
  --stack-spacing: 1.25rem;
}

[class^='stack'] > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack-small > * + * {
  margin-top: var(--stack-spacing);
}

.stack-medium > * + * {
  margin-top: var(--s1);
}

.stack-large > * + * {
  margin-top: var(--s3);
}

.grow {
  flex-grow: 1;
}
