.title-section {
  display: grid;
  grid-template-columns:
    min(var(--token-bp-3), calc(100% - 175px - var(--token-size-2)))
    minmax(175px, 1fr);
  gap: var(--token-size-2);
  align-items: center;
  animation: fade-in, slide-up-2;
  animation-timing-function: cubic-bezier(0.5, -0.9, 0.1, 1.5);
  animation-duration: 0.75s;

  /* --card-width: calc(var(--token-bp-3) - var(--token-size-2) - 175px); */
  /* --card-width: var(--token-bp-5); */
}

.title-section > img {
  width: 175px;
  margin-inline: auto;
}

@media only screen and (max-width: 670px) {
  .title-section {
    grid-template-columns: 1fr;
    grid-template-columns: auto;
    text-align: center;
  }

  .title-section > img {
    margin-inline: auto;
    grid-row: 1;
  }
}
