article {
  --layout-width: 49rem;

  container-type: inline-size;
  container-name: post;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/**
* TEXT FLOW
*/
article > * + * {
  margin-block-start: var(--token-size-2);
}

article * + h2 {
  margin-block-start: var(--token-size-3);
}

article h2 + p {
  margin-block-start: var(--token-size-00);
}

/**
* HEADERS
*/
article h2 {
  position: relative;
  transition: color 300ms;
  outline: none;
}

article h2 a {
  transition: all 300ms;
  cursor: pointer;
  font-weight: 400;
  opacity: 0.4;
  text-decoration: none;
}

article h2:has(a):hover {
  color: var(--color-primary);
}

article h2 a::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}

article h2:hover a {
  opacity: 1;
}

/**
* GENERAL STYLING OF ELEMENTS
*/
article :where(img, pre) {
  border-radius: var(--token-radius-1);
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  max-width: calc(var(--layout-width) + 2 * var(--token-size-1));
}

/** discard rounded corners on full width */
@container post (inline-size < 784px) {
  article :where(img, pre, .info, blockquote) {
    border-radius: 0;
  }
}

/**
 * CODE BLOCKS
 */
article pre {
  background-color: var(--token-color-dark-1) !important;
  color: var(--token-color-light-0);
  position: relative;
  padding: 0;
  white-space: pre;
  word-wrap: normal;
  word-break: normal;
  word-spacing: normal;
}

article pre > code {
  padding: var(--token-size-0) var(--token-size-1);
  font-size: var(--token-size-00);
  display: block;
  overflow-x: auto;
  tab-size: 2;
  /* fix for increased font-size safari iOS */
  -webkit-text-size-adjust: none;
}

/**
 * BLOCK QUOTES
 */
article blockquote {
  display: block;
  position: relative;
  padding: 0 var(--token-size-1);
  color: var(--color-foreground-1);
  font-style: italic;
  border-left: 5px solid var(--color-primary);
}

article blockquote cite {
  display: block;
  width: 100%;
  font-size: var(--token-size-00);
  font-style: italic;
  margin-top: var(--token-size-0);
  color: var(--color-primary);
}

/**
 * INLINE CODE
 */
article code {
  font-family: var(--monospace);
  font-size: 0.85em;
  hyphens: none;
}

article :not(pre) > code {
  color: var(--color-primary);
}

/**
 * LISTS
 */
article :where(ul, ol):not([class]) {
  list-style: outside;
  padding-left: 0;
}

article :where(ul, ol):not([class]) li {
  margin-left: var(--token-size-0);
}

article :where(ul, ol):not([class]) li::marker {
  color: var(--color-primary);
  font-weight: 600;
}

article ul:not([class]) li {
  list-style-type: "-  ";
  padding-left: 0;
}

article ol:not([class]) {
  list-style: decimal outside;
}
