main:has(article) {
  width: min(100%, var(--token-bp-4) + 2 * var(--token-size-1));
}

article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

article > * {
  margin-block: 0;
}

article > * + * {
  margin-block-start: var(--token-size-2);
}

article * + h2 {
  margin-block-start: var(--token-size-3);
}

article h2 + p {
  margin-block-start: var(--token-size-00);
}

article.post pre,
article.post p:has(img),
article.post .info {
  border-radius: var(--token-radius-0);
}

article.post pre,
article.post .info {
  box-shadow: var(--token-elevation-0);
  border-radius: var(--token-radius-0);
}

article h2[id] {
  scroll-margin-top: 1rem;
}

article h2 {
  position: relative;
  transition: color 300ms;
  outline: none;
}

article h2 a {
  transition: all 300ms;
  cursor: pointer;
  font-weight: 400;
  opacity: 0.4;
  text-decoration: none;
}

article h2:has(a):hover {
  color: var(--color-primary);
}

article h2 a::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}

article h2:hover a {
  opacity: 1;
}

/* aside */
article .info {
  padding: var(--token-size-0) var(--token-size-1);
  background-color: var(--color-surface-1);
  border: 3px solid var(--color-primary);
  font-size: var(--token-size-00);
  position: relative;
}

article .info::before {
  content: "<aside />";
  position: absolute;
  display: block;
  top: -15px;
  font-size: var(--token-size-00);
  color: var(--color-surface-0);
  background-color: var(--color-primary);
  border-radius: var(--token-radius-0);
  padding: 0px 6px;
}

/* table of contents */
.table-of-contents {
  top: var(--token-size-2);
}

.table-of-contents ul {
  list-style: none;
  padding-left: 0;
}

.table-of-contents ul li {
  line-height: 1;
}

.table-of-contents a:hover {
  color: var(--color-primary);
}

li[data-active="true"] a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color-primary);
}
