.recursion-wrapper {
  --x: 0;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: var(--token-elevation-1);
}
.recursion-wrapper .ping,
.recursion-wrapper .pong {
  --depth: min(var(--x), var(--y));

  height: 100px;
  padding: 0 10%;
  background-color: hsl(40 90% calc(90% - var(--depth) * 10%));
}

.recursion-wrapper .ping {
  --y: calc(var(--x) + 1);
}

.recursion-wrapper .pong {
  --x: calc(var(--y) + 1);
}
