// Cards
.card {
  transition: var(--transition);
  color: var(--text-secondary);
  position: relative;
  overflow: hidden;
  display: grid;
  font-size: calc(0.875 * var(--size-default));
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  column-gap: var(--s1);
  row-gap: var(--s0);
}

.card__image {
  width: 100%;
  border-radius: 0.5em;
  object-fit: cover;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.card__content {
  display: flex;
  flex-direction: column;
}

a.card__title {
  text-decoration-color: var(--bg-default);
  color: var(--text-default);
  cursor: pointer;
  margin-bottom: 0.5em;

  &:hover,
  &:active,
  &:focus {
    text-decoration-color: var(--text-secondary);
  }

  &:after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.card__meta {
  font-weight: 600;
  color: var(--text-secondary);
  text-transform: uppercase;
  font-size: 0.75em;
}

.card--vertical {
  .card__image,
  .card__content {
    grid-column: 1/3;
    align-self: start;
  }
}

.card--horizontal {
  .card__content {
    align-self: center;
  }
}

.card--large .card__title > * {
  font-size: var(--size-h1);
}

@media (max-width: 45rem) {
  .card--large .card__title > * {
    font-size: var(--size-h2);
  }
  .card--horizontal {
    .card__image,
    .card__content {
      grid-column: 1/3;
      align-self: start;
    }
  }
}
