.card {
  --border-width: 2px;

  background-color: var(--surface-1);
  padding: var(--token-size-1);
  position: relative;
  border: var(--border-width) solid var(--text-0);
  border-radius: 1rem;
  max-width: var(--card-width, var(--token-bp-3));
}

.card::after {
  --offset: 8px;
  content: "";

  position: absolute;
  top: calc(var(--offset) - var(--border-width));
  left: calc(var(--offset) - var(--border-width));
  right: calc(var(--offset) * -1 - var(--border-width));
  bottom: calc(var(--offset) * -1 - var(--border-width));

  border: var(--border-width) solid var(--text-0);
  background-color: var(--surface-2);
  z-index: -1;
  border-radius: 1rem;

  /* striped background */
  /* background: repeating-linear-gradient(
    -45deg,
    var(--accent),
    var(--accent) 6px,
    var(--surface-0) 6px,
    var(--surface-0) 12px
  ); */
  /* gradient background */
  background: linear-gradient(45deg, var(--primary), var(--accent));
}

.card[data-size="small"] {
  padding: var(--token-size-0);
}
