// Cards
.card {
  transition: all ease-in-out 200ms;
  color: var(--text-secondary);
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  column-gap: var(--s1);
  row-gap: var(--s0);
}

.card__image {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.card__content {
  display: flex;
  flex-direction: column;
}

a.card__title {
  text-decoration: none;
  text-decoration-color: var(--primary);
  transition: all ease-in-out 200ms;
  color: var(--text-default);
  cursor: pointer;

  > h3 {
    margin-bottom: 0.5rem;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
    text-decoration-color: var(--primary);
  }

  &:after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.card__meta {
  font-family: var(--monospace);
  font-size: 0.75rem;
  margin-top: 0.5rem;
  color: var(--text-secondary);
}

.card--vertical {
  .card__image,
  .card__content {
    grid-column: 1/3;
    align-self: start;
  }
}

.card--horizontal {
  .card__content {
    align-self: center;
  }
}

.card--large {
  .card__title > h3 {
    font-size: var(--size-h1);
  }
}

@media (max-width: 45rem) {
  .card--horizontal {
    .card__image,
    .card__content {
      grid-column: 1/3;
      align-self: start;
    }
  }
}
