.card-test {
  background-color: var(--surface-1);
  padding: var(--token-size-3) var(--token-size-1);
  border-radius: var(--token-radius-4);
  max-width: var(--card-width, var(--token-bp-3));
}

.card {
  --border-width: 2px;

  background-color: var(--surface-1);
  padding: var(--token-size-3) var(--token-size-1);
  position: relative;
  border: var(--border-width) solid var(--text-0);
  border-radius: var(--token-radius-4);
  max-width: var(--card-width, var(--token-bp-3));
}

.card::after {
  --offset: 6px;
  content: "";

  position: absolute;
  top: calc(var(--offset) - var(--border-width));
  left: calc(var(--offset) - var(--border-width));
  right: calc(var(--offset) * -1 - var(--border-width));
  bottom: calc(var(--offset) * -1 - var(--border-width));

  border: var(--border-width) solid var(--text-0);
  background-color: var(--surface-2);
  z-index: -1;
  border-radius: var(--token-radius-4);
  background: var(--text-0);
  /* background: repeating-linear-gradient(
    45deg,
    hsl(from var(--primary) h s l / 100%),
    hsl(from var(--primary) h s l / 100%) 6px,
    var(--surface-0) 6px,
    var(--surface-0) 12px
  ); */
}

.card[data-size="small"] {
  padding: var(--token-size-1) var(--token-size-0);
}
