/**
 * LIST GROUP
 * add interactive elements on hover. partly hides non-hover elements and
 * enlarges hover element
 */
.list-group {
  --opacity: 0.4;
  --transform: 1.075;
}

.list-group > * {
  transition: all 0.25s;
}

/** check if hover is available or not, is not available on mobile */
@media (hover: hover) {
  .list-group:hover > *:not(:hover) {
    opacity: var(--opacity);
  }

  .list-group.list-group--scale > *:hover {
    transform: matrix(var(--transform), 0, 0, var(--transform), 0, 0);
  }
}
