/**
 * META INFO
 */
.meta-info {
  display: flex;
  flex-direction: row;
  gap: 0.75ch;
  color: var(--color-foreground-1);
  font-size: var(--token-size-00);
}

.meta-info::before {
  content: "//";
  color: var(--color-secondary);
}
