.page-section {
  padding: var(--token-size-2);
  margin-inline: auto;
  width: 100%;
  max-width: min(100%, var(--token-bp-5));
}

@media only screen and (max-width: 670px) {
  .page-section {
    padding: var(--token-size-0);
  }
}
