/**
* Main site *
**/
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  max-width: 100%;
}

/**
* Main site header *
**/
.header {
  background: var(--gray-500);
  padding: var(--s1);
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__logo {
  margin-right: calc(var(--logo-size) * 0.5);

  > img {
    height: var(--logo-size);
    cursor: pointer;
  }
}

.header__toggle {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: inherit;
  transition: all ease-in-out 100ms;

  > .icon {
    height: 1.25rem;
    fill: var(--primary);
    stroke: var(--gray-100);
  }
}

/**
* Main site footer *
**/
.footer {
  background: var(--gray-500);
  padding: var(--s1);
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 1;
  font-size: 0.85rem;
  color: var(--gray-100);

  span {
    flex-grow: 1;
  }
}

.footer__icon {
  stroke: var(--gray-100);
  color: var(--gray-100);
  height: 1.25rem;
  margin-left: 0.75rem;
  transition: all ease-in-out 300ms;

  &:hover,
  &:focus,
  &:active {
    stroke: var(--primary);
    color: var(--primary);
  }
}

.content {
  flex-grow: 1;
  width: 100%;
  padding: var(--s3) 0;
}

.title {
  justify-self: center;
  display: block;
  padding: 0 0 var(--s2);

  &::first-letter {
    text-transform: uppercase;
  }
}

.subtitle--emoji {
  font-size: 4rem;
}
