.pagination {
  --pagination-padding: var(--token-size-2);

  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 2px solid var(--text-0);
  margin-inline: auto;
  margin-top: var(--token-size-5);
}

.pagination > * {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: none;
}

.pagination .newer {
  border-right: 1px solid var(--text-0);
}
.pagination .older {
  border-left: 1px solid var(--text-0);
}

.pagination .newer[data-exists="true"],
.pagination .older[data-exists="true"] {
  transition: all 0.3s ease;
  padding: var(--pagination-padding);
  height: 100%;
}

.pagination .newer[data-exists="true"]:hover,
.pagination .older[data-exists="true"]:hover {
  background-color: var(--primary);
  color: var(--surface-0);
}

.pagination .newer[data-exists="true"]:hover a,
.pagination .older[data-exists="true"]:hover a {
  color: var(--surface-0);
}

.pagination > * a {
  align-self: flex-start;
  font-weight: bold;
}

.pagination > *:last-child a {
  align-self: flex-end;
  text-align: right;
}

.pagination > *:last-child .subtitle {
  align-self: flex-end;
}

@media only screen and (max-width: 670px) {
  .pagination {
    --pagination-padding: var(--token-size-0);
    grid-template-columns: 1fr;
  }

  .pagination .newer {
    border-right: none;
    border-bottom: 1px solid var(--text-0);
  }
  .pagination .older {
    border-left: none;
    border-top: 1px solid var(--text-0);
  }
}
