/**
 * TABLE OF CONTENTS
 * element to style table of contents for articles
 */
/** class required for getting the sticky to work */
.table-of-contents {
  top: var(--token-size-2);
  position: sticky;
  align-self: flex-start;

}

/** Trigger on aria-current */
.table-of-contents li[aria-current] a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color-primary);
}