/**
 * TAG
 *
 * --tag-color: text color and hover background color
 * --tag-bg: background color in inactive state
 * --tag-hash-color: color of the # char
 */
.tag {
  --tag-bg: var(--color-surface-1);
  --tag-color: var(--color-primary);
  --tag-hash-color: var(--tag-color);

  display: inline-block;
  background-color: var(--tag-bg);
  padding: 0.2em var(--token-size-000);
  border-radius: var(--token-radius-0);
  transition: all 300ms;
  text-decoration: none;
  color: var(--color-foreground-0);
}

.tag:hover,
.tag:focus {
  --tag-bg: var(--tag-color);
  --tag-hash-color: var(--token-color-neutral-0);
  color: var(--token-color-neutral-0);
}

.tag::before {
  content: "#";
  transition: color 300ms;
  color: var(--tag-hash-color);
}

.tag[data-index="0"],
.tag[data-index="4"],
.tag[data-index="8"] {
  --tag-color: var(--token-color-error);
}

.tag[data-index="1"],
.tag[data-index="5"],
.tag[data-index="9"] {
  --tag-color: var(--token-color-warning);
}

.tag[data-index="2"],
.tag[data-index="6"],
.tag[data-index="10"] {
  --tag-color: var(--token-color-success);
}

.tag[data-index="3"],
.tag[data-index="7"],
.tag[data-index="11"] {
  --tag-color: var(--token-color-info);
}

.tag.highlight {
  --tag-bg: var(--color-primary);
  color: var(--color-surface-0);
}

.tag.highlight::before {
  content: "";
}
