/**
 * TAG
 *
 * --tag-color: text color and hover background color
 * --tag-bg: background color in inactive state
 * --tag-hash-color: color of the # char
 */

.tag-link {
  --tag-bg: var(--surface-1);
  --tag-color: var(--primary);
  --tag-hash-color: var(--tag-color);

  display: inline-block;
  background-color: var(--tag-bg);
  padding: 0.2em var(--token-size-000);
  border-radius: var(--token-radius-0);
  transition: all 300ms;
  text-decoration: none;
  color: var(--color-foreground-0);
}

.tag-link:hover,
.tag-link:focus {
  --tag-bg: var(--tag-color);
  --tag-hash-color: var(--token-neutral-0);
  color: var(--token-neutral-0);
}

.tag-link::before {
  content: "#";
  transition: color 300ms;
  color: var(--tag-hash-color);
}

.tag-link[data-index="0"],
.tag-link[data-index="4"],
.tag-link[data-index="8"] {
  --tag-color: var(--token-error);
}

.tag-link[data-index="1"],
.tag-link[data-index="5"],
.tag-link[data-index="9"] {
  --tag-color: var(--token-warning);
}

.tag-link[data-index="2"],
.tag-link[data-index="6"],
.tag-link[data-index="10"] {
  --tag-color: var(--token-success);
}

.tag-link[data-index="3"],
.tag-link[data-index="7"],
.tag-link[data-index="11"] {
  --tag-color: var(--token-info);
}

@media (hover: hover) {
  .taglist > *:hover {
    transform: matrix(1.075, 0, 0, 1.075, 0, 0);
  }
}
