/**
 * TAG
 *
 * --tag-color: text color and hover background color
 * --tag-bg: background color in inactive state
 * --tag-hash-color: color of the # char
 */
.tag {
  --tag-bg: var(--color-surface-1);

  background-color: var(--tag-bg);
  padding: 0.4em var(--token-size-000);
  border-radius: var(--token-radius-0);
  transition: all 300ms;
  text-decoration: none;
  color: var(--color-foreground-0);
}

.tag.hash {
  --tag-color: var(--color-primary);
  --tag-hash-color: var(--tag-color);

  font-family: var(--monospace);
}

.tag.hash:hover,
.tag.hash:focus {
  --tag-bg: var(--tag-color);
  --tag-hash-color: var(--token-color-dark-0);
  color: var(--token-color-dark-0);
}

.tag.hash::before {
  content: "#";
  transition: color 300ms;
  color: var(--tag-hash-color);
}

.tag[data-index="0"],
.tag[data-index="4"],
.tag[data-index="8"] {
  --tag-color: var(--token-color-error);
}

.tag[data-index="1"],
.tag[data-index="5"],
.tag[data-index="9"] {
  --tag-color: var(--token-color-warning);
}

.tag[data-index="2"],
.tag[data-index="6"],
.tag[data-index="10"] {
  --tag-color: var(--token-color-success);
}

.tag[data-index="3"],
.tag[data-index="7"],
.tag[data-index="11"] {
  --tag-color: var(--token-color-info);
}

.tag.highlight {
  --tag-bg: var(--color-primary);

  color: var(--token-color-dark-0);
}
