// Tags list
.tags {
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  font-family: var(--monospace);
  flex-wrap: wrap;
  position: relative;

  a:link,
  a:visited,
  a:active {
    text-decoration: none;
    color: var(--primary);
    border-radius: 0.25rem;
    padding: 0 0.25rem;

    &:before {
      content: '#';
    }
  }

  > li {
    padding: 0rem;
  }

  > * + * {
    margin-left: 1rem;
  }
}
