.title-section {
  display: grid;
  grid-template-columns:
    min(var(--token-bp-3), calc(100% - 250px - var(--token-size-2)))
    minmax(250px, 1fr);
  gap: var(--token-size-2);
  align-items: center;
}

.title-section > svg {
  width: 250px;
  margin-inline: auto;
}

@media only screen and (max-width: 670px) {
  .title-section {
    grid-template-columns: 1fr;
    grid-template-columns: auto;
    text-align: center;
  }

  .title-section > svg {
    margin-inline: auto;
    grid-row: 1;
    width: 225px;
  }
}
