@font-face {
	font-family: 'iAWriter Quattro';
	font-weight: 400;
	font-style: italic;
	font-display: block;
	src: url("/fonts/iAWriterQuattroS-Italic.woff2") format('woff2');
}

@font-face {
	font-family: 'iAWriter Quattro';
	font-weight: 600;
	font-style: italic;
	font-display: block;
	src: url('/fonts/iAWriterQuattroS-BoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'iAWriter Quattro';
	font-weight: 600;
	font-style: normal;
	font-display: block;
	src: url('/fonts/iAWriterQuattroS-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'iAWriter Quattro';
	font-weight: 400;
	font-style: normal;
	font-display: block;
	src: url('/fonts/iAWriterQuattroS-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'iAWriter Mono';
	font-weight: 400;
	font-style: normal;
	font-display: block;
	src: url('/fonts/iAWriterMonoS-Regular.woff2') format('woff2');
}
