/*******
* Generic styling
*******/
html,
body {
	font-family: var(--sans-serif);
	line-height: 1.78;
	background-color: var(--color-surface-0);
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	color: var(--color-text-0);
	background-color: var(--color-surface-0);
	font-size: var(--size-0);
}

main {
	min-width: var(--bp-0);
}

/* LINKS */
a,
a:visited {
	transition: all 200ms ease;
	color: var(--color-text-0);
	text-decoration-color: var(--color-text-1);
	text-decoration-thickness: 2px;
}

a:focus, a:active, a:hover {
	color: var(--color-text-accent);
	text-decoration-color: var(--color-text-accent);
}

h1,
h2,
h3 {
	font-family: var(--sans-serif);
	width: 100%;
	line-height: 1.2;
}

h1 {
	font-size: var(--size-2);
}

h2 {
	font-size: var(--size-1);
}

h3 {
	font-size: var(--size-0);
}

h1 a,
h2 a,
h3 a {
	text-decoration: none !important;
}

::selection {
	color: var(--color-surface-0) !important;
	background: var(--color-text-0) !important;
}

/* QUOTES */
blockquote {
	display: block;
	position: relative;
	padding-left: var(--size-1);
	color: var(--color-text-1);
	font-style: italic;
}

blockquote::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	height: 100%;
	border-left: 5px solid var(--color-text-accent);
}

blockquote cite {
	display: block;
	width: 100%;
	font-size: var(--size-00);
	font-style: italic;
	margin-top: var(--size-0);
	color: var(--color-text-accent);
}

/* Styled unordered list */
ul:not([role="list"]), ol:not([role="list"]) {
	list-style: outside;
	padding-left: 0;
}

ul:not([role="list"]) li {
	list-style-type: '-  ';
	padding-left: 0; 
	margin-left: var(--size-2);
}

ul:not([role="list"]) li::marker {
	color: var(--color-text-accent);
}

ul:not([role="list"]) li::marker {
	font-weight: 600;
}

/* Ordered list */
ol:not([role="list"]) {
	list-style: decimal outside;
}

@media (max-width: 50rem) {
	blockquote {
		padding: var(--size-0);
	}
}
