body {
	display: flex;
	flex-direction: column;
	min-width: var(--token-bp-0);
	font-size: var(--token-size-0);
	font-family: var(--sans-serif);
	background-color: var(--color-surface-0);
	color: var(--color-foreground-0);
	overflow-x: hidden;
}

/* anchor */
a,
a:visited {
	transition: all 200ms ease;
	touch-action: manipulation;
	color: var(--color-foreground-0);
	text-decoration-color: var(--color-foreground-1);
	text-decoration-thickness: 2px;
	text-decoration-skip-ink: auto;
	text-underline-offset: 2px;
}

a:focus,
a:active,
a:hover {
	color: var(--color-pimary);
	text-decoration-color: var(--color-primary);
	text-underline-offset: 4px;
}

/* headers */
:where(h1, h2, h3) {
	font-family: var(--sans-serif);
	width: 100%;
	line-height: 1.2;
}

h1 {
	font-size: var(--token-size-2);
}
h2 {
	font-size: var(--token-size-1);
}
h3 {
	font-size: var(--token-size-0);
}

/* text */
::selection {
	color: var(--color-surface-0) !important;
	background: var(--color-foreground-0) !important;
}

/* blockquotes */
blockquote {
	display: block;
	position: relative;
	padding-left: var(--token-size-1);
	color: var(--color-foreground-1);
	font-style: italic;
	border-left: 5px solid var(--color-primary);
}

blockquote cite {
	display: block;
	width: 100%;
	font-size: var(--token-size-00);
	font-style: italic;
	margin-top: var(--token-size-0);
	color: var(--color-primary);
}

/* Basic lists */
:where(ul, ol):not([class]) {
	list-style: outside;
	padding-left: 0;
}

:where(ul, ol):not([class]) li {
	margin-left: var(--token-size-2);
}

:where(ul, ol):not([class]) li::marker {
	color: var(--color-primary);
	font-weight: 600;
}

ul:not([class]) li {
	list-style-type: "-  ";
	padding-left: 0;
}

ol:not([class]) {
	list-style: decimal outside;
}

/* inline code */
code {
	font-family: var(--monospace);
	hyphens: none;
}

:not(pre) > code {
	color: var(--color-primary);
}

/* code block */
pre {
	background-color: var(--token-color-grey-4) !important;
	color: var(--token-color-grey-0);
	position: relative;
	padding: 0;
	white-space: pre;
	word-wrap: normal;
	word-break: normal;
	word-spacing: normal;
}

pre > code {
	padding: var(--token-size-0);
	font-size: var(--token-size-00);
	display: block;
	overflow-x: auto;
	tab-size: 2;
	/* fix for increased font-size safari iOS */
	-webkit-text-size-adjust: none;
}
