:root {
  /* Create CSS variables around colors */
  --hue: 215;
  --saturation: 40%;

  --token-color-grey-0: hsl(var(--hue), var(--saturation), 99%);
  --token-color-grey-1: hsl(var(--hue), var(--saturation), 85%);
  --token-color-grey-2: hsl(var(--hue), var(--saturation), 70%);
  --token-color-grey-3: hsl(var(--hue), var(--saturation), 40%);
  --token-color-grey-4: hsl(var(--hue), var(--saturation), 25%);
  --token-color-grey-5: hsl(var(--hue), var(--saturation), 8%);
  --token-color-brand-0: #9856f6;
  --token-color-brand-1: #bd93f9;
  --token-color-brand-2: #fa9580;
  --token-color-brand-3: #28a47f;

  /* Create CSS variables around breakpoints */
  --token-bp-0: 20rem;
  --token-bp-000: calc(var(--token-bp-00) / 1.33);
  --token-bp-00: calc(var(--token-bp-0) / 1.33);
  --token-bp-1: calc(var(--token-bp-0) * 1.33);
  --token-bp-2: calc(var(--token-bp-1) * 1.33);
  --token-bp-3: calc(var(--token-bp-2) * 1.33);
  --token-bp-4: calc(var(--token-bp-3) * 1.33);
  --token-bp-5: calc(var(--token-bp-4) * 1.33);

  /* Text scaling */
  /* Adds up to max (--scale) times the size, on larger screens */
  --ratio: calc(
    3.2 * (min(100vw, var(--token-bp-5)) - var(--token-bp-0)) / 960
  );

  /* Create CSS variables around spacing, font-sizes etc. */
  /* Scale of 1.333 */
  --token-size-none: 0;
  --token-size-000: calc(0.65rem + 0.65 * var(--ratio, 0));
  --token-size-00: calc(0.8125rem + 0.8125 * var(--ratio, 0));
  --token-size-0: calc(1rem + 1 * var(--ratio, 0));
  --token-size-1: calc(1.33rem + 1.33 * var(--ratio, 0));
  --token-size-2: calc(1.78rem + 1.78 * var(--ratio, 0));
  --token-size-3: calc(2.37rem + 2.37 * var(--ratio, 0));
  --token-size-4: calc(3.16rem + 3.16 * var(--ratio, 0));
  --token-size-5: calc(4.21rem + 4.21 * var(--ratio, 0));

  /* Font families */
  --monospace: "iAWriter Mono", Inconsolata, Menlo, Monaco, Consolas,
    "Courier New", monospace;
  --serif: ui-serif, Georgia, Cambria, serif;
  --sans-serif: "iAWriter Quattro", system-ui, -apple-system, blinkmacsystemfont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  /* Utilties */
  --token-radius-0: 0.25rem;
  --token-elevation-0: 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}
