@import 'fonts';

:root {
  // Colors
  --gray-100: #fafafa;
  --gray-200: #e0e4e9;
  --gray-300: #90959b;
  --gray-400: #707478;
  --gray-500: #292933;
  --gray-600: #121319;

  --green: #09a976;
  --red: #ff4137;
  --blue: #4b6bdc;
  --yellow: #ffb700;

  // Spacing and sizes
  --unit: 1rem;
  --base: 16;
  --min-width: 15;
  --max-width: 75;
  --min-size: 1.125;

  // calculates the ratio that scales between 0px and 1px based on the screen
  // size
  --screen: calc(min(100vw, var(--max-width) * var(--unit)));
  --area: calc(var(--screen) - var(--min-width) * var(--unit));
  --ratio: calc(var(--area) / (var(--max-width) - var(--min-width)));

  // Font-sizes
  --size-default: calc(var(--unit) * var(--min-size) + 0.25 * var(--ratio));
  --size-h1: calc(1.75rem + 0.5 * var(--min-size) * var(--ratio));
  --size-h2: calc(1.375rem + 0.25 * var(--min-size) * var(--ratio));
  --size-h3: calc(1.25rem + 0.25 * var(--min-size) * var(--ratio));
  --size-code: calc(0.8rem + 0.375 * var(--ratio));
  --size-small: calc(0.875 * var(--size-default));

  // spacing
  --s1: calc(var(--min-size) * var(--unit) + var(--min-size) * var(--ratio));
  --s0: calc(0.5 * var(--s1));
  --s2: calc(1.25 * var(--s1));
  --s3: calc(1.5 * var(--s1));
  --s4: calc(2 * var(--s1));

  // general-sizes
  --page-width: calc(var(--max-width) * var(--unit));
  --logo-size: calc(1.25rem * var(--min-size) + 0.25 * var(--ratio));
  --logo-padding: calc(var(--logo-size) * 0.5);
  --min-el-width: calc(var(--min-width) * var(--unit) - 2 * var(--s1));
  --card: 18rem;

  // font-family
  --sans-serif: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  --monospace: Hack, Consolas, Menlo, Monaco, 'Courier New', monospace;

  // utils
  --transition: all ease-in-out 200ms;
}

// default theme
body {
  --text-default: var(--gray-600);
  --text-secondary: var(--gray-400);
  --bg-default: var(--gray-100);
  --bg-secondary: var(--gray-200);

  --bg-footer: var(--gray-600);
}

// Themes
body[data-theme='dark'] {
  --text-default: var(--gray-100);
  --text-secondary: var(--gray-300);
  --bg-default: var(--gray-600);
  --bg-secondary: var(--gray-500);
}
