<div class="canvas">
  <svg class="circle" viewBox="0 0 752 752" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="376.001" cy="376" r="370" transform="rotate(31.0061 376.001 376)" stroke="url(#paint0_linear_222_49)" stroke-opacity="0.3" stroke-width="10" stroke-dasharray="2 14"></circle>
    <defs>
      <linearGradient id="paint0_linear_222_49" x1="376.001" y1="1.00003" x2="339.001" y2="751" gradientUnits="userSpaceOnUse">
        <stop stop-color="var(--color-accent)"></stop>
        <stop offset="1" stop-color="var(--color-accent)"></stop>
      </linearGradient>
    </defs>
  </svg>
</div>