<div class="canvas">
    <svg class="circle" viewBox="0 0 220 220" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="110" cy="110" r="100" stroke="url(#paint0_linear_222_49)" stroke-opacity="0.3" stroke-width="7.5" stroke-dasharray="1.5 7.5"></circle>
    <defs>
        <linearGradient id="paint0_linear_222_49" x1="0" y1=200 x2="200" y2="200" gradientUnits="userSpaceOnUse">
        <stop stop-color="var(--token-color-brand-1)"></stop>
        <stop offset="1" stop-color="var(--color-surface-1)"></stop>
        </linearGradient>
    </defs>
    </svg>
</div>
