<footer class="repel --gap-0">
	<span>© {% year %} Kevin Pennekamp</span>
	<nav aria-label="social media accounts">
		<ul class="hover-group | cluster --gap-0">
			<li><a rel="me" href="https://indieweb.social/@crinkles" title="Link to my Mastodon page">mastodon</a></li>
	    <li><a rel="me" href="https://github.com/vyckes" title="Link to my Github page">github</a></li>
	    <li><a rel="me" href="{{ metadata.feed.path | url }}" title="Link to my RSS feed">rss</a></li>
	  </ul>
	</nav>
</footer>
