<aside class="pagination | repel switcher --threshold-3 --gap-1 items-center">
  {% if newer %}
  <div class="items-start">
    {% if newer.data.title %}<span class="subtitle">← Newer</span>{% endif %}
    <a href="{{ newer.url | url }}">{{ newer.data.title or "← Newer" }}</a>
  </div>
  {% endif %}
  {% if older %}
  <div class="items-end">
    {% if older.data.title %}<span class="subtitle">Older →</span>{% endif %}
    <a href="{{ older.url | url }}">{{ older.data.title or "Older →"}}</a>
  </div>
  {% endif %}
</aside>