{% set latest = collections.posts | index(0) %}
<ul role="list" class="post-list | hover-group | flex --column --gap-3 --start | maxw-3">
  {% for post in posts %}
    <li class="flex --column --gap-none --start | click-area" role="listitem">
      <h3 class="size-1 bold">
        <a href="{{ post.page.url }}">
          {{ post.data.title }}
        </a>
      </h3>
      <span class="italic text-2 size-00 | flex --row | mb-000">
        <time class="mr-00" date="{{ post.data.date }}">{{ post.data.date | readableDate }}</time>
        {# {% if latest.data.title === post.data.title %} <span class="flag">new! 🤯</span> {% endif %} #}
        {% if post.data.update %} <span class="flag size-00">updated!</span> {%  endif %}
        {% if post.data.link %} <span class="flag size-00">external</span> {%  endif %}
      </span>
      <span class="text-1">{{ post.data.description }}</span>
    </li>
  {% endfor %}
</ul>
