<ul
  role="list"
  aria-label="List of all tags"
  class="hover-group taglist | cluster --gap-000"
>
  {% for tag in tags %}
  <li class="tag | click-area">
    <a
      href="/tags/{{ tag }}/"
      data-selected="{{ selected === tag }}"
      >{{ tag }}</a
    >
  </li>
  {% endfor %}
</ul>
