<ul
  role="list"
  aria-label="List of all tags"
  class="hover-group taglist | cluster --gap-00"
>
  {% for tag in tags %}
  <li class="tag | click-area">
    <a
      href="/tags/{{ tag }}/"
      class="tag"
      data-selected="{{tag === selected}}"
      >{{ tag }}</a
    >
  </li>
  {% endfor %}
</ul>
