// Cards
.card {
  --min-width: var(--size-1);
  min-width: var(--size-0);
  overflow: hidden;
  color: var(--gray-300);
  font-size: var(--text-00);
}

.card__image {
  display: inline-block;
  width: 100%;
  object-fit: cover;
  text-align: center;
  vertical-align: middle;
  border-radius: var(--radius-1);
}

.card__content {
  display: flex;
  flex-direction: column;
}

a.card__title {
  margin-bottom: var(--spacing-000);
  color: var(--gray-100);
  text-decoration-color: rgba(0, 0, 0, 0);

  > h2 {
    font-size: var(--text-1);
  }
}

.card__meta {
  color: var(--gray-300);
  font-size: var(--text-00);
  text-transform: uppercase;
}
