// keyword: const, return, etc.
// operator: ==, >=, etc.
// punctuation: (, ), [, ], etc.
// parameter: inside function
// tag: <html tag/>
// function: object.fn
// string, number: primitives

.token {
	color: var(--color-gray-100);
}

.token.builtin,
.token.variable,
.token.operator,
.token.punctuation,
.token.attr-name,
.token.comment,
.token.keyword,
.token.important {
	color: var(--color-gray-300);
}

.token.comment,
.token.attr-name,
.token.italic {
	font-style: italic;
}

.token.bold {
	font-weight: bold;
}

.token.function,
.token.selector,
.token.tag,
.token.attr-value,
.token.string,
.token.number,
.token.class-name {
	color: var(--color-gold);
}

code {
	font-size: 0.825em;
	color: var(--color-gold);
	font-family: var(--monospace);
	background-color: var(--color-gray-400);
	hyphens: none;
}

// INLINE CODE
p > code,
li > p,
h2 > p {
	padding: 3px 6px;
	display: inline-block;
	border-radius: var(--radius-0);
}

pre {
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
}

pre,
pre code {
	display: block;
	overflow-x: auto;
	line-height: 1.4;
	tab-size: 2;
	// fix for increased font-size safari iOS
	-webkit-text-size-adjust: none;
}

pre code {
	padding: var(--spacing-2);
}

pre:not([data-lang]) {
	padding: 0;
}

pre[data-lang] {
	display: flex;
	flex-direction: column;
	padding: 0;
}

pre[data-lang] > span {
	font-size: var(--text-000);
	font-family: var(--sans-serif);
	color: var(--color-gold);
	background-color: var(--color-gray-400);
	text-transform: uppercase;
	border-top-left-radius: var(--radius-00);
	border-top-right-radius: var(--radius-00);
	padding: 0 var(--spacing-00);
	align-self: flex-end;
	line-height: 2;
	margin-right: var(--spacing-1);
}

@media (max-width: 50rem) {
	pre code {
		padding: var(--spacing-0);
	}
}
