// keyword: const, return, etc.
// operator: ==, >=, etc.
// punctuation: (, ), [, ], etc.
// parameter: inside function
// tag: <html tag/>
// function: object.fn
// string, number: primitives

.token {
	color: var(--color-gray-100);
}

.token.builtin,
.token.variable,
.token.operator,
.token.punctuation,
.token.attr-name,
.token.comment,
.token.keyword,
.token.important {
	color: var(--color-gray-300);
}

.token.comment,
.token.attr-name,
.token.italic {
	font-style: italic;
}

.token.bold {
	font-weight: bold;
}

.token.function,
.token.selector,
.token.tag,
.token.attr-value,
.token.string,
.token.number,
.token.class-name {
	color: var(--color-gold);
}

// INLINE CODE
:not(pre) code {
	color: var(--color-blue);
	font-size: 0.825em;
	padding: 3px 6px;
	font-family: var(--monospace);
	display: inline-block;
	hyphens: none;
	background-color: var(--color-gray-400);
	transition: var(--transition);
	border-radius: var(--radius-0);
}

// CODE BLOCKS
pre:not([data-lang]),
pre[data-lang] > div {
	padding: var(--spacing-2);
	overflow: auto;
	background-color: var(--color-gray-400);
	transition: var(--transition);
	line-height: 1.4;
}

pre code {
	font-family: var(--monospace);
	font-size: var(--text-00);
	color: var(--color-gray-100);
	tab-size: 2;
	// fix for increased font-size safari iOS
	-webkit-text-size-adjust: none;
}

pre[data-lang] {
	display: flex;
	flex-direction: column;
	padding: 0;
}

pre[data-lang] > span {
	font-size: var(--text-000);
	font-family: var(--sans-serif);
	color: var(--color-blue);
	background-color: var(--color-gray-400);
	text-transform: uppercase;
	border-top-left-radius: var(--radius-1);
	border-top-right-radius: var(--radius-1);
	padding: 0 var(--spacing-00);
	align-self: flex-end;
	line-height: 2;
	margin-right: var(--spacing-1);
}

@media (max-width: 50rem) {
	pre:not([data-lang]),
	pre[data-lang] > div {
		padding: var(--spacing-0);
	}
}
