footer a, footer a:visited {
  color: var(--color-grey-0);
  text-decoration-color: var(--color-grey-2);
}

footer a:hover {
  color: var(--color-brand-2);
  text-decoration-color: var(--color-brand-2);
}