/**
* Main site header *
**/
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  margin: var(--spacing-2) auto var(--spacing-0);
  backdrop-filter: blur(20px);

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: calc(var(--page-width) + 2 * var(--spacing-1));
    margin: 0 auto;
    padding: var(--spacing-000) calc(var(--spacing-1) - var(--spacing-00));

    > a:hover,
    a:hover span {
      color: var(--gray-100);
    }
  }

  .logo {
    padding: var(--spacing-00);
    text-decoration: none;
    border-radius: var(--radius-1);
    transition: background-color ease-in-out 200ms;

    svg {
      height: var(--text-2);
      display: block;
    }

    &:hover {
      background: var(--gray-400);
    }
  }
}
