.info-box {
  position: relative;
  margin-left: var(--spacing-000);
  padding: var(--spacing-00) var(--spacing-00) 0;
  color: var(--gray-300);
  font-size: var(--text-00);
  border-top: 2px solid var(--blue-200);
  border-left: 2px solid var(--blue-200);
  border-image-slice: 1;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    min-width: 2rem;
    padding: 0 0.5rem;
    color: var(--blue-200);
    font-weight: 600;
    font-size: var(--text-00);
    font-family: var(--monospace);
    text-transform: uppercase;
    background-color: var(--gray-500);
    transform: translate(-50%, calc(-50% - 0.5px));
    transition: var(--transition);
    content: 'info';
  }
}
