// Pagination below blog posts
.pagination {
  --gap: var(--spacing-1);
  width: 100%;
  padding: var(--spacing-1);

  a.next,
  a.previous {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    text-decoration-color: rgba(0, 0, 0, 0);

    > span {
      color: var(--gray-300);
      font-size: var(--text-00);
      text-transform: uppercase;
    }
  }

  .next {
    align-items: flex-start;
  }

  .previous {
    align-items: flex-end;
    text-align: right;
  }
}
