.post {
	h2 + p {
		margin-top: var(--spacing-00);
	}

	h2 a {
		text-decoration: none;
		color: var(--gray-100);

		&::after {
			content: '#';
			margin-left: var(--spacing-000);
			color: var(--red-200);
		}
	}

	img,
	blockquote,
	pre {
		grid-column: 1 / 4;
		justify-self: center;
		width: 100%;
		max-width: calc(var(--page-width) + 2 * var(--spacing-2));
	}

	blockquote {
		max-width: calc(var(--page-width) - 2 * var(--spacing-2));
	}
}
