[data-tooltip] {
	position: relative;
}

[data-tooltip]:hover::before,
[data-tooltip]:hover::before {
	content: attr(data-tooltip);
	position: absolute;

	border-radius: var(--radius-0);
	padding: 0 var(--spacing-000);
	margin-bottom: var(--spacing-000);
	background-color: var(--color-gray-300);
	color: var(--color-gray-500);

	bottom: 100%;
	width: 200px;
	left: 50%;
	transform: translate(-50%, 0);

	text-align: center;
	font-size: var(--text-000);
}

[data-tooltip]:hover::after {
	content: '';
	position: absolute;
	top: 0%;
	left: 50%;
	margin-top: calc(-1 * var(--spacing-000));
	border-width: 5px;
	border-style: solid;
	border-color: var(--color-gray-300) transparent transparent transparent;
}

[data-tooltip-position='left']:hover::before,
[data-tooltip-position='left']:hover::before {
	left: 0%;
	transform: translate(0, 0);
}
