article {
  --layout-threshold: 47rem;

  container-type: inline-size;
  container-name: post;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1.6;
}

/**
* TEXT FLOW
*/
article > * + * {
  margin-block-start: var(--token-size-2);
}

article * + h2 {
  margin-block-start: var(--token-size-3);
}

article h2 + p {
  margin-block-start: var(--token-size-00);
}

article h3 + p {
  margin-block-start: var(--token-size-000);
}

/**
* HEADERS
*/
article :where(h2, h3) {
  position: relative;
  transition: color 300ms;
  outline: none;
}

article :where(h2 a, h3 a) {
  transition: all 300ms;
  cursor: pointer;
  font-weight: 400;
  opacity: 0.4;
  text-decoration: none;
}

article h2:has(a):hover {
  color: var(--primary);
}

article h2 a::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}

article h2:hover a {
  opacity: 1;
}

/**
* GENERAL STYLING OF ELEMENTS
*/
article :where(img, pre, .info, .archive) {
  border-radius: var(--token-radius-1);
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  max-width: calc(var(--layout-threshold) + 2 * var(--token-size-1));
}

/** discard rounded corners on full width */
@container post (inline-size < 47rem) {
  article :where(img, pre, .info, .archive, blockquote) {
    border-radius: 0 !important; /* overwrite specificity */
  }

  article pre,
  article .info,
  article .archive {
    border-left: 0px;
    border-right: 0px;
    box-shadow: none;
  }
}

/**
 * IMAGES
 */
article img {
  box-shadow: var(--token-shadow);
}

/**
 * BLOCK QUOTES
 */
article blockquote {
  display: block;
  position: relative;
  padding: 0 var(--token-size-1);
  color: var(--text-2);
  font-style: italic;
}

article blockquote::before {
  background: var(--primary);
  content: "";
  height: calc(100% + 1px);
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}

article blockquote cite {
  display: block;
  width: 100%;
  font-size: var(--token-size-00);
  font-style: italic;
  text-align: right;
  margin-top: var(--token-size-0);
  color: var(--primary);
}

/** INLINE CODE */
article :not(pre) > code {
  color: var(--primary);
}

/**
 * LISTS
 */
:where(ul, ol):not([class]) {
  list-style: outside;
  padding-left: 0;
}

:where(ul, ol):not([class]) li {
  margin-left: var(--token-size-1);
  padding-left: 0.5em;
}

:where(ul, ol):not([class]) li::marker {
  color: var(--primary);
  font-size: 0.825em;
  font-weight: 600;
}

ul:not([class]) li {
  list-style-type: "✦  ";
  padding-left: 0.5em;
}

ol:not([class]) {
  list-style: decimal outside;
}

@media only screen and (max-width: 670px) {
  article {
    font-size: 1.1em;
  }
}
