.banner {
  --contrast-bg: var(--surface-1);

  padding: var(--token-size-4) 0;
  border-top: 2px solid var(--text-0);
  border-bottom: 2px solid var(--text-0);
}

.banner .content {
  padding: 0 var(--token-size-2);
}

@media screen and (max-width: 751px) {
  .banner {
    padding: var(--token-size-4) var(--token-size-2);
  }
}
