.banner {
  padding: 0 var(--token-size-2);
  margin-bottom: var(--token-size-4);
  position: relative;
  border-bottom: 3px solid var(--text-2);
}

.banner > * {
  margin-inline: auto;
  padding: var(--token-size-4) var(--token-size-2);
  position: relative;
}
