.banner {
  --layout-threshold: var(--token-bp-5);

  padding: 0 var(--token-size-2) var(--token-size-2) var(--token-size-2);
  border-bottom: 1px solid var(--surface-2);
  margin-bottom: var(--token-size-2);
}
