.info-box {
  position: relative;
  padding: 0.75rem 1.25rem;
  color: var(--text-secondary);
  font-size: var(--size-small);
  border-top: 2px solid;
  border-left: 2px solid;
  border-image-source: linear-gradient(
    to right,
    var(--green),
    var(--bg-default)
  );
  border-image-slice: 1;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    color: var(--text-default);
    font-weight: 600;
    font-size: 0.875rem;
    font-family: var(--monospace);
    background: var(--bg-default);
    border: 2px solid var(--green);
    border-radius: 50%;
    transform: translate(calc(-1rem - 0.5px), calc(-1rem - 0.5px));
    transition: var(--transition);
    content: 'i';
  }
}
