.info-box {
  position: relative;
  padding: 0 var(--s1);
  color: var(--text-secondary);
  font-size: var(--size-small);
  border-left: 0.25rem solid var(--text-secondary);

  > *:first-child::before {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 1.75rem;
    color: var(--text-secondary);
    font-weight: 600;
    font-size: 0.875rem;
    font-family: var(--monospace);
    background: var(--bg-default);
    border: 0.25rem solid var(--text-secondary);
    border-radius: 50%;
    transform: translate(calc(-50% - 0.125rem), 0);
    transition: var(--transition);
    content: 'i';
  }
}
