.info-box {
  position: relative;
  margin-left: var(--spacing-000);
  padding: var(--spacing-00) var(--spacing-00) 0;
  color: var(--text-secondary);
  font-size: var(--text-00);
  border-top: 2px solid;
  border-bottom: 0;
  border-left: 2px solid;
  border-image-source: linear-gradient(
    to right,
    var(--primary),
    var(--bg-default)
  );
  border-image-slice: 1;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2rem;
    padding: 0 0.5rem;
    color: var(--primary);
    font-weight: 600;
    font-size: var(--text-00);
    font-family: var(--monospace);
    text-transform: uppercase;
    background-color: var(--bg-default);
    transform: translate(-50%, calc(-50% - 0.5px));
    transition: var(--transition);
    content: 'info';
  }
}
