.button-shape {
  --color: var(--text-0);

  color: var(--color);
  background-color: var(--surface-1);
  padding: 0.5rem var(--token-size-000);
  align-self: flex-start;
  border-radius: var(--token-radius-1);
  border: 3px solid var(--color);
  box-shadow: var(--token-elevation);
  text-decoration: none;
  transition: all 200ms;
}

.button-shape:hover {
  background-color: var(--surface-2);
  box-shadow: none;
  transform: translate(3px, 4px);
}
