.button-shape {
  --color: var(--text-0);

  color: var(--primary);
  background-color: var(--surface-0);
  padding: 0.5rem var(--token-size-000);
  align-self: flex-start;
  border: 2px solid var(--color);
  border-radius: 5px;
  box-shadow: var(--token-elevation);
  text-decoration: none;
  transition: all 200ms;
}

.button-shape:hover {
  color: var(--accent);
  background-color: var(--text-2);
}
