.canvas {
  position: absolute;
  inset: 0;
  z-index: -1;
  height: 100vh;
  background: linear-gradient(
    var(--surface-0),
    #90817d,
    #90817d,
    var(--surface-0)
  );
  opacity: 0.1;
  mask-image: url("../pattern.svg");
  mask-size: 16px;
  mask-repeat: repeat;
}
