.canvas {
  position: absolute;
  inset: 0;
  z-index: -1;
  height: 100vh;
  background: linear-gradient(
    var(--surface-0),
    var(--primary),
    var(--primary),
    var(--surface-0)
  );
  opacity: 0.08;
  mask-image: url("../pattern.svg");
  mask-size: 16px;
  mask-repeat: repeat;
}
