.card {
  background-color: var(--surface-1);
  padding: var(--token-size-1);
  position: relative;
  border: 2px solid var(--text-0);
  border-radius: 1rem;
  max-width: var(--token-bp-3);
}

.card::after {
  --bgPosition: calc(var(--bgSize) / 0.68);
  --offset: 10px;
  content: "";

  position: absolute;
  top: var(--offset);
  left: var(--offset);
  right: calc(var(--offset) * -1);
  bottom: calc(var(--offset) * -1);

  border: 2px solid var(--text-0);
  background-color: var(--surface-2);
  z-index: -1;
  border-radius: 1rem;

  /* striped background */
  /* background: repeating-linear-gradient(
    -45deg,
    var(--accent),
    var(--accent) 6px,
    var(--surface-0) 6px,
    var(--surface-0) 12px
  ); */
  /* gradient background */
  background: linear-gradient(45deg, var(--primary), var(--accent));
}
