// Cards
.card {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(auto-fit, minmax(var(--card), 1fr));
  min-width: var(--card);
  overflow: hidden;
  color: var(--text-secondary);
  font-size: var(--size-small);
  column-gap: var(--s1);
  transition: var(--transition);
  row-gap: var(--s0);
}

.card__image {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
  vertical-align: middle;
  border-radius: 0.5em;
}

.card__content {
  display: flex;
  flex-direction: column;
}

a.card__title {
  margin-bottom: 0.5em;
  color: var(--text-default);
  cursor: pointer;
  text-decoration-color: var(--bg-default);

  &:hover,
  &:active,
  &:focus {
    text-decoration-color: var(--text-secondary);
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
  }
}

.card__meta {
  color: var(--text-secondary);
  font-weight: 600;
  font-size: 0.75em;
  text-transform: uppercase;
}
