pre {
  border: none;
  box-shadow: var(--token-elevation);
  background-color: var(--surface-1);
  color: var(--text-0);
  border: 1px solid var(--text-0);
  font-weight: 400;
}

pre code {
  padding: var(--token-size-0);
}

:not(pre) > code {
  color: var(--primary);
}

/** SYNTAX */
.token.punctuation,
.token.comment,
.token.operator,
.token.tag,
.token.keyword {
  color: var(--text-2);
  font-weight: 300;
}

/** To overwrite the above colors */
.token.attr-value {
  color: var(--text-0);
}

.token.attr-name,
.token.selector {
  color: var(--code-primary);
}

.token.property,
.token.function {
  color: var(--code-secondary);
}

.token.string,
.token.number {
  color: var(--code-tertiary);
}

.token.function,
.token.comment,
.token.keyword {
  font-style: italic;
}
