pre {
  border: none;
  box-shadow: var(--token-elevation-1);
  background-color: var(--surface-1);
  color: var(--text-0);
}

pre code {
  padding: var(--token-size-0) var(--token-size-1);
}

:not(pre) > code {
  color: var(--primary);
}

/** SYNTAX */
.token.punctuation,
.token.comment,
.token.operator,
.token.tag,
.token.keyword {
  color: var(--text-2);
}

/** To overwrite the above colors */
.token.attr-value {
  color: var(--text-0);
}

.token.attr-name,
.token.selector,
.token.string,
.token.number {
  color: var(--accent);
}

.token.function {
  color: var(--primary);
}

.token.keyword {
  color: var(--text-2);
}

.token.function,
.token.comment,
.token.keyword {
  font-style: italic;
}
