.logo,
.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--s00);
  text-decoration: none;
  border-radius: var(--radius);
  transition: background-color ease-in-out 200ms;
}

.icon svg {
  height: var(--text-0);
  color: var(--text-default);
  transition: var(--transition);
}

.icon svg + * {
  margin-left: var(--s00);
}

.icon:hover,
.icon:hover * {
  background: var(--bg-secondary);
}

.logo svg {
  height: var(--text-1);
  color: var(--logo-color);
}
