/**
 * INFO BOX
 *
 * General style of the info-box primarily used in articles
 */

.info,
.archive {
  --contrast-bg: var(--token-brand-2);
  --contrast-color: lch(
    from var(--contrast-bg) calc((49.44 - l) * infinity) 0 0
  );

  box-shadow: var(--token-elevation);
  border-radius: var(--token-radius-1);
  padding: var(--token-size-0) var(--token-size-1);
  background-color: var(--contrast-bg);
  font-size: var(--token-size-00);
  position: relative;
  border: 1px solid var(--text-0);
  color: var(--contrast-color);
}

.info a,
.info a:visited,
.archive a,
.archive a:visited {
  color: var(--contrast-color);
}

.info {
  --border-color: var(--primary);
}

.archive {
  --border-color: var(--error);
}

.info::before,
.archive::before {
  position: absolute;
  display: block;
  top: -0.85em;
  font-size: var(--token-size-00);
  border-radius: var(--token-radius-0);
  background-color: var(--text-0);
  color: var(--surface-0);
  padding: 0px 6px;
}

.info::before {
  content: "<aside />";
}

.archive::before {
  content: "<archive />";
  background-color: var(--border-color);
  color: var(--surface-0);
}
