/**
* Main site *
**/
.site {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100vh;
}

.overview {
  font-size: var(--text-00);
}

/**
* Main site header *
**/
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  margin: var(--spacing-1) auto var(--spacing-1);
  backdrop-filter: blur(20px);

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: calc(var(--page-width, 75rem) + 2 * var(--spacing-1));
    margin: 0 auto;
    padding: var(--spacing-000) calc(var(--spacing-1) - var(--spacing-00));

    > a:hover,
    a:hover span {
      color: var(--text-default);
    }
  }
}

/**
* Main site footer *
**/
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: var(--spacing-1);
  color: var(--text-default);
  font-weight: 600;
  font-size: var(--text-00);
  font-family: var(--monospace);
  line-height: 1;
  background: var(--bg-footer);

  span {
    flex-grow: 1;
  }

  transition: var(--transition);

  > * + * {
    margin-left: var(--spacing-00);
    padding: var(--spacing-000) var(--spacing-0);
  }

  > a {
    text-decoration: none;
    border-radius: var(--radius-0);
    transition: var(--transition);

    &:hover {
      color: var(--gray-600);
      background-color: var(--primary);
    }
  }
}

.content {
  flex-grow: 1;
  width: 100%;
  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-3);
}

.title {
  padding-bottom: var(--spacing-0);
}
