.pagination {
  padding: var(--token-size-2);
  width: 100%;
}

.pagination > * {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: none;
}

.pagination > * a {
  align-self: flex-start;
}

.pagination > *:last-child a {
  align-self: flex-end;
  text-align: right;
}

.pagination > *:last-child .subtitle {
  align-self: flex-end;
}

.pagination .subtitle {
  margin: 0 var(--token-size-0);
  color: var(--text-2);
}
