// Pagination below blog posts
.pagination {
  display: grid;
  grid-row-gap: var(--s1);
  grid-column-gap: var(--s1);
  grid-template-columns: repeat(auto-fit, minmax(var(--min-el-width), 1fr));
  width: 100%;

  a.next,
  a.previous {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
    text-decoration-color: var(--bg-default);

    > span {
      color: var(--text-secondary);
      font-weight: 600;
      font-size: 0.875rem;
      text-transform: uppercase;
    }
  }

  .next {
    align-items: flex-start;
  }

  .previous {
    align-items: flex-end;
    text-align: right;
  }
}
