.pagination {
  padding: var(--token-size-2);
  width: 100%;
}

.pagination > * {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: none;
}

.pagination > *:last-child {
  text-align: right;
}

.pagination a {
  font-size: var(--token-size-1);
  font-weight: bold;
}
.pagination .subtitle {
  text-transform: uppercase;
  color: var(--text-2);
}
