/**
 * REDIRECT LINKS
 *
 * Links with a clear intention to move users to a different page (e.g.
 * overview page).
 */

.redirect,
.redirect:active {
  transition: all 0.25s;
  position: relative;
  padding: 0;
  margin-right: var(--token-size-1);
  text-decoration: none;
}

.redirect::after {
  height: 0.7em;
  aspect-ratio: 4 / 5;
  display: inline-block;

  content: "";
  background-color: var(--primary);
  -webkit-mask: url("/ornament.svg") no-repeat 50% 50%;
  mask: url("/ornament.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;

  transition: all 0.25s;
  position: absolute;
  right: -0.95em;
  top: 0.275em;
}

.redirect:hover::after {
  right: -1.25em;
}
