/**
 * REDIRECT LINKS
 *
 * Links with a clear intention to move users to a different page (e.g.
 * overview page).
 */

.redirect,
.redirect:active {
  transition: all 0.25s;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25em;
  padding: 0;
  text-transform: uppercase;
}

.redirect::after {
  height: 1em;
  aspect-ratio: 4 / 5;
  display: inline-block;

  content: "";
  background-color: var(--primary);
  -webkit-mask: url("/ornament.svg") no-repeat 50% 50%;
  mask: url("/ornament.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;

  transition: all 0.25s;
}

.redirect:hover {
  color: var(--primary);
}

.redirect:hover::after {
  margin-left: 0.5em;
}

.redirect.reverse {
  flex-direction: row-reverse;
}

.redirect.reverse::after {
  transform: rotate(180deg);
}
.redirect.reverse:hover::after {
  margin-right: 0.5rem;
  margin-left: 0;
}
