/**
 * REDIRECT LINKS
 *
 * Links with a clear intention to move users to a different page (e.g.
 * overview page).
 */

.redirect,
.redirect:active {
  transition: all 0.25s;
  position: relative;
  padding: 0;
  margin-right: var(--token-size-1);
}

.redirect::after {
  content: "→";
  display: inline-block;
  font-weight: 400;
  transition: all 0.25s;
  position: absolute;
  right: -1.25em;
  top: 0.05em;
}

.redirect:hover::after {
  right: -1.625em;
}
