/**
 * TAG
 *
 * --tag-color: text color and hover background color
 * --tag-hash-color: color of the # char
 */

li.tag {
  --tag-color: var(--primary);
  --tag-hash-color: var(--tag-color);

  display: inline-block;
  background-color: transparent;
  padding: 0.1em 0.4em;
  border-radius: var(--token-radius-1);
  border: 2px solid var(--tag-color);
  transition: all 300ms;
  text-decoration: none;
  color: var(--text-0);
  font-size: var(--token-size-00);
  line-height: 1.4;
}

li.tag a {
  text-decoration: none;
}

li.tag:hover,
li.tag:focus {
  --tag-hash-color: var(--surface-0);
  background-color: var(--tag-color);
}

li.tag:hover a,
li.tag:focus a {
  color: var(--tag-hash-color);
}

li.tag::before {
  content: "#";
  transition: color 300ms;
  color: var(--tag-hash-color);
}

@media (hover: hover) {
  .taglist > *:hover {
    transform: matrix(1.175, 0, 0, 1.175, 0, 0);
  }
}
