/**
 * TAG
 *
 * --tag-color: text color and hover background color
 * --tag-hash-color: color of the # char
 */

a.tag {
  --tag-color: var(--primary);
  --tag-hash-color: var(--tag-color);

  display: inline-block;
  background-color: transparent;
  padding: 0.1em 0.4em;
  border-radius: var(--token-radius-1);
  border: 1px solid var(--tag-color);
  transition: all 300ms;
  text-decoration: none;
  color: var(--color-foreground-0);
  font-size: var(--token-size-00);
}

a.tag:hover,
a.tag:focus {
  --tag-hash-color: var(--token-neutral-0);
  color: var(--token-neutral-0);
  background-color: var(--tag-color);
}

a.tag::before {
  content: "#";
  transition: color 300ms;
  color: var(--tag-hash-color);
}

a.tag[data-index="0"],
a.tag[data-index="4"],
a.tag[data-index="8"] {
  --tag-color: var(--error);
}

a.tag[data-index="1"],
a.tag[data-index="5"],
a.tag[data-index="9"] {
  --tag-color: var(--warning);
}

a.tag[data-index="2"],
a.tag[data-index="6"],
a.tag[data-index="10"] {
  --tag-color: var(--success);
}

a.tag[data-index="3"],
a.tag[data-index="7"],
a.tag[data-index="11"] {
  --tag-color: var(--info);
}

@media (hover: hover) {
  .taglist > *:hover {
    transform: matrix(1.175, 0, 0, 1.175, 0, 0);
  }
}
