{
  "extends": [
    "react-app",
    "eslint-config-prettier",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": ["react-hooks", "jsx-a11y"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
