.bg-surface-0, .hover\:bg-surface-0:hover { background-color: var(--color-surface-0); }
.bg-surface-1, .hover\:bg-surface-1:hover { background-color: var(--color-surface-1); }
.bg-surface-accent, .hover\:bg-surface-accent:hover { background-color: var(--color-surface-accent); }