.radius-000 { border-radius: var(--size-000); }
.radius-00 { border-radius: var(--size-00); }
.radius-0 { border-radius: var(--size-0); }
.radius-1 { border-radius: var(--size-1); }
.radius-2 { border-radius: var(--size-2); }
.radius-3 { border-radius: var(--size-3); }
.radius-4 { border-radius: var(--size-4); }
.radius-5 { border-radius: var(--size-5); }

.border-grey-0, .hover\:border-grey-0:hover { border-color: var(--color-grey-0); }
.border-grey-1, .hover\:border-grey-1:hover { border-color: var(--color-grey-1); }
.border-grey-2, .hover\:border-grey-2:hover { border-color: var(--color-grey-2); }
.border-grey-3, .hover\:border-grey-3:hover { border-color: var(--color-grey-3); }
.border-grey-4, .hover\:border-grey-4:hover { border-color: var(--color-grey-4); }
.border-grey-5, .hover\:border-grey-5:hover { border-color: var(--color-grey-5); }
.border-brand-0, .hover\:border-brand-0:hover { border-color: var(--color-brand-0); }
.border-brand-1, .hover\:border-brand-1:hover { border-color: var(--color-brand-1); }
.border-text-0, .hover\:border-text-0:hover { border-color: var(--color-text-0); }
.border-text-1, .hover\:border-text-1:hover { border-color: var(--color-text-1); }
.border-surface-0, .hover\:border-surface-0:hover { border-color: var(--color-surface-0); }
.border-surface-1, .hover\:border-surface-1:hover { border-color: var(--color-surface-1); }


.border-w-1 { --border-width: 1px; }
.border-w-2 { --border-width: 2px; }
.border-w-3 { --border-width: 3px; }
.border-w-4 { --border-width: 4px; }
.border-w-5 { --border-width: 5px; }