 /* Makes an entire box clickable based on a single child anchor */
.click-area {
  position: relative;
}

.click-area a {
  cursor: pointer;
}

.click-area a::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}