.separator {
  border-bottom: 1px solid var(--color-border-0);
}

.border-l {
  border-left: 3px solid var(--color-primary);
}

.border-t {
  border-top: 3px solid var(--color-primary);
}

.border-r {
  border-right: 3px solid var(--color-primary);
}

.border-b {
  border-bottom: 3px solid var(--color-primary);
}

.overline {
  position: relative;
}

.overline::after {
  position: absolute;
  content: "";
  width: 90px;
  border-bottom: 5px solid var(--color-primary);
  left: 0;
  top: -10px;
}

.slash {
  display: flex;
  flex-direction: row;
  gap: 0.75ch;
}

.slash::before {
  content: "//";
  color: var(--color-accent);
}

.radius-0 {
  border-radius: var(--token-radius-0);
}

.radius-1 {
  border-radius: var(--token-radius-1);
}
