.visually-hidden {
  position: absolute;
  width: 1px;
  height: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
}

.hidden {
  display: none !important;
}
