.m-000 { margin: var(--size-000); }
.m-00 { margin: var(--size-00); }
.m-0 { margin: var(--size-0); }
.m-1 { margin: var(--size-1); }
.m-2 { margin: var(--size-2); }
.m-3 { margin: var(--size-3); }
.m-4 { margin: var(--size-4); }
.m-5 { margin: var(--size-5); }

.mb-000 { margin-bottom: var(--size-000); }
.mb-00 { margin-bottom: var(--size-00); }
.mb-0 { margin-bottom: var(--size-0); }
.mb-1 { margin-bottom: var(--size-1); }
.mb-2 { margin-bottom: var(--size-2); }
.mb-3 { margin-bottom: var(--size-3); }
.mb-4 { margin-bottom: var(--size-4); }
.mb-5 { margin-bottom: var(--size-5); }

.mt-000 { margin-top: var(--size-000); }
.mt-00 { margin-top: var(--size-00); }
.mt-0 { margin-top: var(--size-0); }
.mt-1 { margin-top: var(--size-1); }
.mt-2 { margin-top: var(--size-2); }
.mt-3 { margin-top: var(--size-3); }
.mt-4 { margin-top: var(--size-4); }
.mt-5 { margin-top: var(--size-5); }

.ml-000 { margin-left: var(--size-000); }
.ml-00 { margin-left: var(--size-00); }
.ml-0 { margin-left: var(--size-0); }
.ml-1 { margin-left: var(--size-1); }
.ml-2 { margin-left: var(--size-2); }
.ml-3 { margin-left: var(--size-3); }
.ml-4 { margin-left: var(--size-4); }
.ml-5 { margin-left: var(--size-5); }

.mr-000 { margin-right: var(--size-000); }
.mr-00 { margin-right: var(--size-00); }
.mr-0 { margin-right: var(--size-0); }
.mr-1 { margin-right: var(--size-1); }
.mr-2 { margin-right: var(--size-2); }
.mr-3 { margin-right: var(--size-3); }
.mr-4 { margin-right: var(--size-4); }
.mr-5 { margin-right: var(--size-5); }

.p-000 { padding: var(--size-000); }
.p-00 { padding: var(--size-00); }
.p-0 { padding: var(--size-0); }
.p-1 { padding: var(--size-1); }
.p-2 { padding: var(--size-2); }
.p-3 { padding: var(--size-3); }
.p-4 { padding: var(--size-4); }
.p-5 { padding: var(--size-5); }

.pb-000 { padding-bottom: var(--size-000); }
.pb-00 { padding-bottom: var(--size-00); }
.pb-0 { padding-bottom: var(--size-0); }
.pb-1 { padding-bottom: var(--size-1); }
.pb-2 { padding-bottom: var(--size-2); }
.pb-3 { padding-bottom: var(--size-3); }
.pb-4 { padding-bottom: var(--size-4); }
.pb-5 { padding-bottom: var(--size-5); }

.pt-000 { padding-top: var(--size-000); }
.pt-00 { padding-top: var(--size-00); }
.pt-0 { padding-top: var(--size-0); }
.pt-1 { padding-top: var(--size-1); }
.pt-2 { padding-top: var(--size-2); }
.pt-3 { padding-top: var(--size-3); }
.pt-4 { padding-top: var(--size-4); }
.pt-5 { padding-top: var(--size-5); }

.pl-000 { padding-left: var(--size-000); }
.pl-00 { padding-left: var(--size-00); }
.pl-0 { padding-left: var(--size-0); }
.pl-1 { padding-left: var(--size-1); }
.pl-2 { padding-left: var(--size-2); }
.pl-3 { padding-left: var(--size-3); }
.pl-4 { padding-left: var(--size-4); }
.pl-5 { padding-left: var(--size-5); }

.pr-000 { padding-right: var(--size-000); }
.pr-00 { padding-right: var(--size-00); }
.pr-0 { padding-right: var(--size-0); }
.pr-1 { padding-right: var(--size-1); }
.pr-2 { padding-right: var(--size-2); }
.pr-3 { padding-right: var(--size-3); }
.pr-4 { padding-right: var(--size-4); }
.pr-5 { padding-right: var(--size-5); }