/* Font-size */
.size-000 { font-size: var(--size-000); }
.size-00 { font-size: var(--size-00); }
.size-0 { font-size: var(--size-0); }
.size-1 { font-size: var(--size-1); }
.size-2 { font-size: var(--size-2); }
.size-3 { font-size: var(--size-3); }
.size-4 { font-size: var(--size-4); }
.size-5 { font-size: var(--size-5); }
/* Color */
.text-color-0, .hover\:text-color-0:hover { color: var(--color-text-0); }
.text-color-1, .hover\:text-color-1:hover { color: var(--color-text-1); }
.text-color-accent, .hover\:text-color-accent:hover { color: var(--color-text-accent); }

.monospace { font-family: var(--monospace); }
.serif { font-family: var(--serif); }
.sans-serif { font-family: var(--sans-serif); }

.bold { font-weight: 600; }
.regular { font-weight: 400; }
.italic { font-style: italic; }
.uppercase { text-transform: uppercase; }
.no-decoration { text-decoration: none; }

.text-right { text-align: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }
