/* Groups items in such a way that a 'cluster' is created that automatically
determines how many items can be on a single row (e.g. tag cloud).
NOTE: Can be combined with flex based utilities (e.g. .--gap-00) */
.cluster {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--layout-gap);
}
