.cover {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
}

.cover > * {
  margin-block: var(--layout-gap, 0);
}

.cover > :first-child:not(.cover-child) {
  margin-block-start: 0;
}

.cover > :last-child:not(.cover-child) {
  margin-block-end: 0;
}

.cover > .cover-child {
  margin-block: auto;
}
