/* Responsive 2-column layout with a default 50-50 split.
Allows you to set one of the two columns to a controllable size (-left, -right)
and horizontal/vertical gap.
NOTE: can be combined with the .gap- class. */
.sidebar.--left,
.sidebar.--right {
  display: flex;
  flex-wrap: wrap;
  gap: var(--layout-gap);
}

.sidebar.--left > *,
.sidebar.--right > * {
  flex-basis: var(--layout-width, 0);
  flex-grow: 1;
  min-width: min(100%, var(--layout-width));
}

.sidebar.--left > :last-child,
.sidebar.--right > :first-child {
  flex-basis: 0;
  flex-grow: 999;

  /* wraps when content becomes less than 50% */
  min-inline-size: var(--sidebar-content, 50%);
}
