/* NOTE: Can be combined with flex based utilities (e.g. .gap-00)
Layout pattern that allows all to move from horizontal to vertical at a
specific breakpoint */
.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--layout-gap);
}

/* default assumes 2 elements */
.switcher > * {
  flex-basis: calc(
    (var(--layout-width, 0) * var(--layout-amount, 2) - 100%) * 999
  );
  flex-grow: 1;
}

/* uses the :has selector to set the number of children */
.switcher:has(> *:nth-child(2)) {
  --layout-amount: 2;
}

.switcher:has(> *:nth-child(3)) {
  --layout-amount: 3;
}

.switcher:has(> *:nth-child(4)) {
  --layout-amount: 4;
}

/* Detects is :has() is support, otherwise provide a fallback */
@supports not selector(:has(+ *)) {
  .--amount-2 {
    --layout-amount: 2;
  }

  .--amount-3 {
    --layout-amount: 3;
  }

  .--amount-4 {
    --layout-amount: 4;
  }
}
