/* Class that creates a tile-based system that fills the space based on gap-size
and min-width for each individual tile. Each tile in the cluster is of the
same size.
NOTE: can be combined with the .gap- classes (e.g. .gap-00) */
.tiles {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--layout-width, 0), 100%), 1fr)
  );
  gap: var(--layout-gap);
}