---
permalink: "{{ metadata.feed.path }}"
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ meta.url }}/">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.description }}</subtitle>
  <link href="{{ metadata.url }}feed/feed.xml" rel="self" />
  <link href="{{ metadata.url }}" />
  {% set postslist = collections.posts %}
  <updated>{{ postslist | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in postslist %} {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url)
  %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}" />
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content
      xml:lang="{{ locale }}"
      type="html"
      >{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content
    >
  </entry>
  {%- endfor %}
</feed>