// Generate utility classes around colors
@each $name, $color in $colors {
	.text-#{$name} {
		color: #{$color};
	}
}

// Generate utility classes around font-size
@each $name, $size in $font-sizes {
	.text-#{$name} {
		font-size: calc(#{$base-font-size} * #{$size});
	}
}

.bold {
	font-weight: 600;
}

.italic {
	font-style: italic;
}

.uppercase {
	text-transform: uppercase;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}
