.bg-surface-0,
.hover\:bg-surface-0:hover {
  background-color: var(--color-surface-0);
}
.bg-surface-1,
.hover\:bg-surface-1:hover {
  background-color: var(--color-surface-1);
}
.bg-primary,
.hover\:bg-primary:hover {
  background-color: var(--color-primary);
}
.bg-secondary,
.hover\:bg-secondary:hover {
  background-color: var(--color-secondary);
}
