/**
 * TEXT COLORS
 */
.text-0 {
  color: var(--text-0);
}
.text-1 {
  color: var(--text-1);
}
.text-2 {
  color: var(--text-2);
}
.text-primary {
  color: var(--primary);
}
.text-secondary {
  color: var(--secondary);
}
