.overline {
  position: relative;
}

.overline::after {
  position: absolute;
  content: "";
  width: 90px;
  border-bottom: 5px solid var(--primary);
  left: 0;
  top: -10px;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.text-center {
  text-align: center;
}
