.separator {
  border-bottom: 1px solid var(--color-border-0);
}

.overline {
  position: relative;
}

.overline::after {
  position: absolute;
  content: "";
  width: 90px;
  border-bottom: 5px solid var(--color-primary);
  left: 0;
  top: -10px;
}

.shadow {
  box-shadow: var(--token-elevation-0);
}

.border-t {
  border: 1px solid var(--color-surface-1);
}