.tag {
  background-color: var(--color-bg-1);
  padding: 0 var(--size-000);
  color: var(--color-fg-1);
  border-radius: var(--radius);
  text-decoration: none;
  transition: all 300ms;
}

.tag:hover {
  color: var(--color-primary);
}

.tag::before {
  content: "#";
  color: var(--color-primary);
}

.tag[data-selected="true"] {
  background-color: var(--color-primary);
  color: var(--color-bg-0);
}

.tag[data-selected="true"]::before {
  color: var(--color-fg-0);
}
