.wave {
  position: relative;
}


.wave::after {
  --mask:
    radial-gradient(calc(0.60rem + 2px) at 50% calc(100% + 0.33rem),#0000 calc(99% - 4px),#000 calc(101% - 4px) 99%,#0000 101%) calc(50% - 1rem) calc(50% - 0.25rem - 2px + .5px)/2rem calc(0.5rem + 4px)  repeat-x,
    radial-gradient(calc(0.60rem + 2px) at 50% -0.33rem,#0000 calc(99% - 4px),#000 calc(101% - 4px) 99%,#0000 101%) 50% calc(50% + 0.25rem + 2px)/2rem calc(0.5rem + 4px)  repeat-x;

    -webkit-mask: var(--mask);
  mask: var(--mask);
  position: absolute;
  background: var(--color-primary);
  bottom: -10px;
  right: 0;
  height: 20px;
  content: "";
  width: 100%;
}