---
layout: base
---

<section class="title-section page-section">
  <div class="flex --column maxw-3">
    <p class="bold text-primary size-1">{{ description }}</p>
    <h1>{{ title }}</h1>
  </div>
  <img width="250" height="267" src="/site/{{ picture }}.svg" alt="Digital illustration of myself, Kevin, in the context of the current page.">
</section>

<section class="page-section">
  {{ content | safe }}
</section>
