---
layout: base
---

<section class="page-section | flex --column --start">
  <span class="size-0 text-primary italic normal lowercase">&lt;{{ description }}&gt;</span>
  <h1 class="ml-1">{{ title }}</h1>
  <span class="size-0 text-primary italic normal lowercase">&lt;/{{ description }}&gt;</span>
</section>

<main class="page-section">
  {{ content | safe }}
</main>
