---
layout: base
---


<main class="center --width-{{ width or 4 }}">
  {% if title %}<h1 class="overline">{{ title }}</h1>{% endif %}
  {{ content | safe }}
</main>

{% set older = pagination.href.next | objectify %}
{% set newer = pagination.href.previous | objectify %}
{% include 'components/pagination.njk' %}