---
layout: base
---

<section class="banner" data-variant="colored">
  <div class="center --threshold-{{ width }}">
    <span class="size-1 bold text-primary italic lowercase">&lt;{{ description }} /&gt;</span>
    <h1>{{ title }}</h1>
  </div>
</section>

<main class="center --threshold-{{ width or 4 }}">
  {{ content | safe }}
</main>

{% set older = pagination.href.next | objectify("url") %}
{% set newer = pagination.href.previous | objectify("url") %}
{% include 'components/pagination.njk' %}