---
layout: base
---


<article class="center | mb-2 mt-2">
    {% if archived %}
    <div class="archive">
        This post is out-of-date, or I do not agree 100% with its content anymore. It will not be updated, but remains to exist to not break links.
    </div>
    {% endif %}
    <div class="flex --column">

        <h1 class="text-center">{{ title }}</h1>
        <div class="flex --row --gap-1 | size-00">
            <time class=" text-2 italic">{{ date | readableDate }}</time>
            {% if update %} <time class=" text-2 italic">(Updated on: {{ update | readableDate }})</time> {%  endif %}
            {% include "components/tag-list.njk" %}
        </div>
    </div>
    {{ content | safe }}
</article>

{% set older = collections.posts | getNextCollectionItem(page) %}
{% set newer = collections.posts | getPreviousCollectionItem(page) %}

{% include "components/pagination.njk" %}
