---
layout: base
---


<main class="post | mb-2">
    <article class="center">
        {% if archived %}
        <div class="archive">
            This post is out-of-date, or I do not agree 100% with its content anymore. It will not be updated, but remains to exist to not break links.
        </div>
        {% endif %}
        <div class="flex-col">
            <time class="meta-info" date="{{ post.data.date }}">
                {{ date | readableDate }}
                {% if update %} <span class="italic">(Updated on: {{ update | readableDate }})</span> {%  endif %}
            </time>
            <h1 class="mb-000">{{ title }}</h1>
            {% include "components/tag-list.njk" %}
        </div>
        {{ content | safe }}
        {% include "partials/separator.njk" %}
    </article> 
</main>

{% set older = collections.posts | getNextCollectionItem(page) %}
{% set newer = collections.posts | getPreviousCollectionItem(page) %}

{% include "components/pagination.njk" %}
