// keyword: const, return, etc.
// operator: ==, >=, etc.
// punctuation: (, ), [, ], etc.
// parameter: inside function
// tag: <html tag/>
// function: object.fn
// string, number: primitives

.token {
	color: var(--color-gray-100);
}

.token.builtin,
.token.variable,
.token.operator,
.token.punctuation,
.token.attr-name,
.token.comment,
.token.keyword,
.token.important {
	color: var(--color-gray-300);
}

.token.comment,
.token.attr-name,
.token.italic {
	font-style: italic;
}

.token.bold {
	font-weight: bold;
}

.token.function,
.token.selector,
.token.tag,
.token.attr-value,
.token.string,
.token.number,
.token.class-name {
	color: var(--color-green);
}

code {
	font-size: 0.825em;
	color: var(--color-green);
	font-family: var(--monospace);
	background-color: var(--color-gray-400);
	hyphens: none;
}

// INLINE CODE
:not(pre) > code {
	padding: 3px 6px;
	display: inline-block;
	border-radius: var(--radius-000);
}

pre,
// added specificity
pre:not([data-lang]),
pre[data-lang] {
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	position: relative;
	padding: 0;
}

pre > code {
	display: block;
	overflow-x: auto;
	line-height: 1.4;
	tab-size: 2;
	font-size: var(--text-00);
	// fix for increased font-size safari iOS
	-webkit-text-size-adjust: none;
	padding: var(--spacing-1);
}

pre[data-lang] > span {
	position: absolute;
	top: 0;
	right: 0;
	font-size: var(--text-000);
	font-family: var(--monospace);
	color: var(--color-green);
	background-color: var(--color-gray-500);
	text-transform: uppercase;
	border-bottom-left-radius: var(--radius-000);
	padding: 0 var(--spacing-00);
	line-height: 1.7;
}
