
// INLINE CODE
:not(pre) > code {
	border-radius: 6px;
	padding: 4px 6px;
	color: var(--color-primary);
	background-color: var(--color-grey-4);
}

// CODE BLOCK
pre {
	border-radius: var(--size-00);
}

pre > code {
	padding: var(--size-1);
	font-size: var(--size-00);
	line-height: var(--lh-2);
}