// List of colors that is used to generate utility classes, but also generate
// CSS custom properties

$h: 218;
$s: 25%;

$feo-colors: (
	'gray-100': hsl($h, $s, 98%),
	'gray-200': hsl($h, $s, 70%),
	'gray-300': hsl($h, $s, 18%),
	'gray-400': hsl($h, $s, 9%),
	'blue': #5467ff,
	'purple': #9187ff,
	'green': #00b891
);

$feo-fluid: true;

$feo-font-families: (
	monospace: "Inconsolata, Menlo, Monaco, Consolas, 'Courier New', monospace",
	serif: "'Source Serif', ui-serif, Georgia, Cambria, serif",
	sans-serif:
		"system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif"
);
