$feo-fluid: true;

$_h: 215;
$_s: 20%;

$feo-colors: (
  // grey-scale
  'grey-0': hsl($_h, $_s, 98%),
  'grey-1': hsl($_h, $_s, 90%),
  'grey-2': hsl($_h, $_s, 70%),
  'grey-3': hsl($_h, $_s, 40%),
  'grey-4': hsl($_h, $_s, 20%),
  'grey-5': hsl($_h, $_s, 10%),
  // BRAND COLORS
  'brand-1': #1395ae,
  'brand-2': #8C90CE
);

$feo-font-families: (
  monospace: "Inconsolata, Menlo, Monaco, Consolas, 'Courier New', monospace",
  serif: "'Source Serif', ui-serif, Georgia, Cambria, serif",
  sans-serif:
    "'CSans', system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif"
);

$feo-themes: (
  'dark': (
    'bg-0': 'grey-5',
    'bg-1': 'grey-4',
    'fg-0': 'grey-0',
    'fg-1': 'grey-2',
    'primary': 'brand-1',
    'accent': 'brand-2'
  ),
  'light': (
    'bg-0': 'grey-0',
    'bg-1': 'grey-1',
    'fg-0': 'grey-5',
    'fg-1': 'grey-3',
    'primary': 'brand-1',
    'accent': 'brand-2'
  )
);