/*******
* Generic styling
*******/
html,
body {
	color: var(--color-gray-100);
	background-color: var(--color-gray-400);
}

main {
	min-width: var(--bp-0);
}

// LINKS
a,
a > *,
a:link,
a:visited,
a:active {
	transition: all 200ms ease;
	text-decoration-color: var(--color-green);
}

a:hover,
a:hover > * {
	color: var(--color-green);
}

h1,
h2,
h3 {
	font-family: var(--serif);
}

h1 a,
h2 a,
h3 a {
	text-decoration: none !important;
}

::selection {
	color: var(--color-gray-400) !important;
	background: var(--color-gray-100) !important;
}

i,
em {
	font-style: italic;
	font-family: var(--serif);
	color: var(--color-green);
}

// QUOTES
blockquote {
	display: block;
	padding: var(--size-0) var(--size-2);
	color: var(--color-gray-200);
	font-family: var(--serif);
	font-size: var(--size-0);
	text-align: center;
	font-style: italic;

	cite {
		display: block;
		width: 100%;
		font-size: var(--size-00);
		font-style: italic;
		margin-top: var(--size-00);
		text-align: right;
		color: var(--color-green);
	}
}

[id] {
	scroll-margin-top: 5rem;
}

li {
	padding-left: 0;
	margin-left: var(--size-2);
	line-height: var(--lh-00);

	&::marker {
		color: var(--color-blue);
	}
}

// Styled unordered list
ul {
	list-style: outside;
	padding-left: var(--size-2);

	> li::marker {
		font-size: var(--size-1);
	}
}

// Ordered list
ol {
	list-style: decimal outside;
	padding-left: var(--size-2);

	> li::marker {
		font-style: italic;
		font-family: var(--serif);
	}
}

@media (max-width: 50rem) {
	blockquote {
		padding: var(--size-0);
	}
}
