/*******
* Generic styling
*******/
html,
body {
	color: var(--color-grey-0);
	background-color: var(--color-grey-5);
	font-family: var(--sans-serif);
	line-height: var(--lh-2);
}

main {
	min-width: var(--bp-0);
}

// LINKS
a,
a:link,
a:visited,
a:active {
	transition: all 200ms ease;
	color: var(--color-grey-0);
	text-decoration-color: var(--color-primary);
}

a:hover {
	color: var(--color-primary);
}

a[data-type='section'],
a[data-type='section']:link,
a[data-type='section']:active {
	text-decoration-color: transparent;
	color: var(--color-primary);
	font-weight: bold;
	position: relative;
	padding: 0 var(--size-000);
	margin-right: var(--size-1);
}

a[data-type='section']:after {
	border: solid var(--color-primary);
	border-width: 0 4px 4px 0;
	content: '';
	display: inline-block;
	padding: 3px;
	position: absolute;
	right: -8px;
	top: 0.675em;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transition: right 0.25s;
}

[data-type='section']:hover:after {
	right: -18px;
}

h1,
h2,
h3 {
	font-family: var(--serif);
	width: 100%;
	line-height: var(--lh-1);
}

h1 a,
h2 a,
h3 a {
	text-decoration: none !important;
}

::selection {
	color: var(--color-grey-5) !important;
	background: var(--color-grey-0) !important;
}

i,
em {
	font-style: italic;
	font-family: var(--serif);
	color: var(--color-primary);
}

// QUOTES
blockquote {
	display: block;
	padding: var(--size-3) var(--size-5);
	color: var(--color-grey-2);
	font-family: var(--serif);
	font-size: var(--size-3);
	text-align: center;
	font-style: italic;

	cite {
		display: block;
		width: 100%;
		font-size: var(--size-3);
		font-style: italic;
		margin-top: var(--size-3);
		text-align: right;
		color: var(--color-primary);
	}
}

[id] {
	scroll-margin-top: 1rem;
}

// Styled unordered list
ul:not([class]) {
	list-style: outside;

	li {
		padding-left: 0;
		margin-left: var(--size-2);

		&::marker {
			color: var(--color-primary);
		}
	}
}

// Ordered list
ol:not([class]) {
	list-style: decimal outside;

	li {
		padding-left: 0;
		margin-left: var(--size-2);

		&::marker {
			font-style: italic;
			font-family: var(--serif);
			font-weight: bold;
			color: var(--color-primary);
		}
	}
}

@media (max-width: 50rem) {
	blockquote {
		padding: var(--size-0);
	}
}
