/*******
* Generic styling
*******/
html,
body {
	min-width: var(--size-1);
	color: var(--color-gray-100);
	font-family: var(--sans-serif);
	background-color: var(--color-gray-500);
}

// HEADINGS
h1,
h2,
h3 {
	width: 100%;
	line-height: 1.4;
	transition: var(--transition);
}

h1 {
	font-size: var(--text-3);
}

h2 {
	font-size: var(--text-2);
}

h3 {
	font-size: var(--text-1);
}

main {
	min-width: var(--size-1);
}

// LINKS
a,
a > *,
a:link,
a:visited,
a:active {
	touch-action: manipulation;
	text-decoration-color: var(--color-green);
	text-decoration-thickness: 2px;
}

a:hover,
a:hover > * {
	color: var(--color-green);
	transition: var(--transition);
	text-decoration-color: var(--color-green);
	text-decoration-thickness: 2px;
}

h1 a,
h2 a,
h3 a {
	text-decoration: none;
}

::selection {
	color: var(--color-gray-500) !important;
	background: var(--color-gray-100) !important;
}

p {
	hyphens: auto;
}

i,
em {
	font-style: italic;
	font-family: var(--serif);
	color: var(--color-green);
}

.post aside {
	display: block;
	padding: var(--spacing-0) var(--spacing-2);
	color: var(--color-gray-200);
	background-color: var(--color-gray-400);
	border: 0.15rem solid;
	border-image-slice: 1;
	border-image-source: var(--gradient);
	font-size: var(--text-00);
}

// QUOTES
blockquote {
	display: block;
	padding: var(--spacing-0) var(--spacing-2);
	color: var(--color-green);
	font-family: var(--serif);
	font-size: var(--text-1);
	text-align: center;
	font-style: italic;

	cite {
		display: block;
		width: 100%;
		font-size: var(--text-00);
		font-style: italic;
		margin-top: var(--spacing-00);
		text-align: right;
		color: var(--color-gray-300);
	}
}

li {
	padding-left: 0;
	margin-left: var(--spacing-2);
	line-height: 1.5;

	&::marker {
		color: var(--color-blue);
	}
}

// Styled unordered list
ul {
	list-style: outside;
	padding-left: var(--spacing-2);

	> li::marker {
		font-size: var(--text-1);
	}
}

// Ordered list
ol {
	list-style: decimal outside;
	padding-left: var(--spacing-2);

	> li::marker {
		font-style: italic;
		font-family: var(--serif);
	}
}

@media (max-width: 50rem) {
	blockquote {
		padding: var(--spacing-0);
	}
}

// Scroll bar
::-webkit-scrollbar {
	width: 0.8rem;
}

::-webkit-scrollbar-track {
	background-color: var(--color-gray-400);
	border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
	background: var(--color-gray-300);
	border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color-blue);
}
