.txt-title {
	font-family: var(--serif);
	font-weight: bold;
	font-size: var(--size-3);
	color: var(--color-gray-100);
}

.txt-meta {
	font-family: var(--monospace);
	text-transform: uppercase;
	font-size: var(--size-00);
	color: var(--color-gray-300);
}
