html {
  font-size: 16px;
  font-size: 100%;
  font-family: var(--sans-serif);
  color: var(--gray-500);
  height: 100%;
  line-height: 1.5;
  background-color: var(--gray-400);
}

body {
  height: 100%;
}

/**
* MAIN *
**/
main {
  width: 100%;
  margin: 0 auto;
  flex: 1;
}

.page404 {
  text-align: center;

  span {
    font-size: 1.5rem;
  }
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  background-color: var(--white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
