.card {
  transition: all ease-in-out 200ms;
  min-width: 18rem;
  line-height: 1.5;
  color: var(--text-secondary);
  position: relative;
  overflow: hidden;
  display: grid;

  &:focus-within,
  &:hover {
    background: var(--card-bg-hover);
  }
}

.card--v {
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  align-items: flex-start;
  row-gap: 1rem;

  .card__image {
    height: 12rem;
    grid-column: 1;
  }
}

.card--h {
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 2rem;

  .card__image {
    height: 22.5rem;
  }

  &.reverse {
    .card__image {
      grid-column: 2;
      grid-row: 1;
    }

    .card__content {
      grid-column: 1;
      grid-row: 1;
    }
  }
}

.card__image {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.card__content {
  display: flex;
  flex-direction: column;
}

a.card__title {
  text-decoration: none;
  text-decoration-color: var(--text-link);
  transition: all ease-in-out 200ms;
  color: var(--text-default);
  cursor: pointer;
  font-size: 1.375em;
  font-weight: 600;
  margin-bottom: 0.5em;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
    text-decoration-color: var(--text-link);
  }

  &:after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.card__meta {
  font-family: var(--monospace);
  font-size: 0.75rem;
  margin-top: 0.5rem;
  color: var(--text-tertiary);
}

@media (max-width: 62rem) {
  .card--h {
    font-size: 1.25rem;

    .card__image {
      height: 17.5rem;
    }
  }
}

@media (max-width: 45rem) {
  .card--h {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 1rem;

    .card__image,
    .card__content,
    &.reverse .card__image,
    &.reverse .card__content {
      grid-column: 1;
    }

    &.reverse .card__content {
      grid-row: 2;
    }

    .card__image {
      height: 12rem;
    }
  }

  // .card--h {
  //   row-gap: 1rem;

  //   .card__image {
  //     height: 10rem;
  //   }
  // }
}

@media (max-width: 30rem) {
  .card--h {
    font-size: 1rem;
  }

  a.card__title {
    font-size: 1.25em;
  }

  .card__image {
    padding: 0rem;
    border-radius: 0rem;
  }

  .card__content {
    padding: 0rem 1rem;
  }
}
