// Tags list
.tags {
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  font-family: var(--monospace);
  flex-wrap: wrap;
  position: relative;

  a:link,
  a:visited,
  a:active {
    text-decoration: none;
    color: var(--main-color);
    border-radius: 0.25rem;
    padding: 0 0.25rem;

    &:before {
      content: '#';
    }
  }

  > li {
    padding: 0rem;
  }

  > * + * {
    margin-left: 1rem;
  }
}

// Pagination below blog posts
.pagination {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: var(--spacing);
  column-gap: var(--spacing);

  a {
    text-decoration: none;
    > h2 {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .next,
  .previous {
    display: flex;
  }

  .next {
    justify-content: flex-start;
    &::before {
      content: '←';
      margin-right: var(--spacing);
    }
  }

  .previous {
    justify-content: flex-end;

    &::after {
      content: '→';
      margin-left: var(--spacing);
    }
  }
}
