@font-face {
    font-family: 'PT Serif';
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/pt-serif-v11-latin-700.woff2") format('woff2');
}

@font-face {
    font-family: 'PT Sans';
    font-weight: 400;
    font-syle: normal;
    font-display: swap;
    src: url('/fonts/pt-sans-v12-latin-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'PT Sans';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/pt-sans-v12-latin-700.woff2') format('woff2');
}

@font-face {
    font-family: 'PT Sans';
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url('/fonts/pt-sans-v12-latin-italic.woff2') format('woff2');
}
