/**
* FOOTER *
**/
footer {
  background: var(--gray-400);
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 1;
  font-size: 1.5rem;

  a,
  a:link,
  a:hover,
  a:focus,
  a:active,
  a:visited {
    color: var(--gray-100);
    transition: all ease-in-out 300ms;

    > i {
      transition: all ease-in-out 300ms;
    }

    &:hover {
      color: var(--white);
    }
  }

  > * + * {
    margin-left: 1rem;
  }
}
