/**
 * LINKS
 */
a,
a:visited {
  text-decoration-color: var(--text-2);
}

a:hover,
a:visited:hover,
a:focus {
  color: var(--primary);
  text-decoration-color: var(--primary);
}

/**
 * HEADERS
 */
:where(h1, h2, h3) {
  font-family: var(--sans-serif);
}
h1 {
  font-size: var(--token-size-2);
}
h2 {
  font-size: var(--token-size-1);
}
h3 {
  font-size: var(--token-size-0);
}
