/**
 * GLOBAL STRUCTURAL COMPONENTS
 */
body {
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--text-0);
  background-color: var(--surface-0);
}

::selection {
  color: var(--surface-0) !important;
  background: var(--text-0) !important;
}

/**
 * HEADERS
 */
:where(h1, h2, h3) {
  font-family: var(--sans-serif);
  line-height: 1.25;
}

/**
 * LINKS
 */
a:not([class]) {
  --anchor-color: var(--primary);

  color: inherit;
  transition: color 200ms;
}
a:not([class]):is(:hover, :focus) {
  color: var(--primary);
  text-decoration-color: var(--anchor-color);
}
a:not([class]):not(:is(:hover, :focus)) {
  text-decoration-color: hsl(from var(--anchor-color) h s l / 50%);
}
