html {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-width: var(--token-bp-0);
  max-width: 100vw;
  font-size: var(--token-size-0);
  font-family: var(--sans-serif);
  background-color: var(--color-surface-0);
  color: var(--color-foreground-0);
  position: relative;
}

/**
 * LINKS
 */
a,
a:visited {
  transition: all 200ms ease;
  color: var(--color-foreground-0);
  text-decoration-color: var(--color-foreground-1);
}

a:hover,
a:visited:hover,
a:focus {
  color: var(--color-primary);
  text-decoration-color: var(--color-primary);
}

/**
 * HEADERS
 */
:where(h1, h2, h3) {
  font-family: var(--sans-serif);
  width: 100%;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: var(--token-size-2);
  font-family: var(--serif);
}
h2 {
  font-size: var(--token-size-1);
  font-family: var(--serif);
}
h3 {
  font-size: var(--token-size-0);
  font-family: var(--serif);
}

/**
 * TEXT SELECTION
 */
::selection {
  color: var(--color-surface-0) !important;
  background: var(--color-foreground-0) !important;
}
