/**
* HEADER *
**/
header {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  max-width: 53rem;
  width: 100%;
  padding: 2rem 2rem 0rem;

  .feather {
    fill: var(--header-icon-fill);
    stroke: var(--header-icon-stroke);
  }
}

aside.welcome {
  margin: 0 auto;
  font-size: 1rem;
  max-width: 53rem;
  width: 100%;
  color: var(--text-secondary);
  padding: 0rem 0rem 2rem 4.25rem;

  > * {
    max-width: 20rem;
  }
}

a.logo {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  cursor: pointer;
}

.logo__img {
  width: 1.25rem;
  margin-right: 1rem;
  margin-bottom: 0.25rem;
}

.logo__text {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-primary);
}

@media (max-width: 30rem) {
  header {
    padding: 1rem 1rem 0rem;
  }

  aside.welcome {
    padding-left: 3.5rem;
    padding-bottom: 1rem;
  }
}
