/**
* HEADER *
**/
header[role='banner'] {
  display: flex;
  position: fixed;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 3rem 0rem;
}

a.logo {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  cursor: pointer;
}

.logo__img {
  width: var(--logo-size);
  margin-right: 1rem;
  margin-bottom: 0.125rem;
}

.logo__text {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-default);

  &::after {
    color: var(--main-color);
    content: ';';
  }
}

/* The switch - the box around the slider */
.toggle {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: inherit;
  transition: all ease-in-out 100ms;
}

.toggle .feather {
  height: 1.25rem;
  fill: var(--header-icon-fill);
  stroke: var(--header-icon-stroke);
}

@media (max-width: 89rem) {
  header[role='banner'] {
    position: relative;
  }

  .logo__text {
    display: block;
  }
}

@media (max-width: 45rem) {
  header[role='banner'] {
    padding: 2rem 2rem 0rem;
  }
}

@media (max-width: 30rem) {
  header[role='banner'] {
    padding: 1rem 1rem 0rem;
  }

  .logo__text {
    font-size: 1.4rem;
  }
}
