.feather {
  height: 1.5rem;
  transition: all ease-in-out 300ms;
}

header {
  .feather {
    stroke: var(--gray-300);
    fill: var(--gray-100);

    &:hover,
    &:focus,
    &:active {
      stroke: var(--primary);
      fill: var(--primary-light);
    }
  }
}

footer {
  .feather {
    stroke: var(--gray-200);
    fill: var(--gray-400);

    &:hover,
    &:focus,
    &:active {
      stroke: var(--gray-200);
      fill: var(--gray-200);
    }
  }
}
