// reset, settings & generic styles
@import 'tokens';
@import '../../node_modules/@crinkles/feo/feo.scss';

/*******
* Generate CSS custom properties
*******/
:root {
	--sans-serif: system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', 'Roboto', 'Helvetica Neue',
		'Arial', sans-serif;
	--monospace: Inconsolata, Menlo, Monaco, Consolas, 'Courier New', monospace;
	--serif: Georgia, serif;

	// misc
	--transition: all ease-in-out 200ms;

	--gradient: -webkit-linear-gradient(
		45deg,
		var(--color-green),
		var(--color-gray-300),
		var(--color-blue)
	);
}

@import 'global';

// Blocks & expections
@import 'blocks/code';
@import 'blocks/tooltip';

// Utilities
@import 'utils';
