.overview {
  display: grid;
  max-width: 80rem;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  padding: 2rem;
  height: 0;
}

.overview__title {
  text-align: center;
}

.entry {
  display: flex;
  flex-direction: column;
  align-self: start;
  color: var(--text-secondary);
  min-width: 18rem;
}

.entry__date {
  font-family: var(--monospace);
  font-size: 0.75rem;
  padding-bottom: 0.5rem;
}

a.entry__title {
  text-decoration: none;
  color: var(--text-header);
  cursor: pointer;

  &:hover *,
  &:active *,
  &:focus * {
    text-decoration: underline;
  }
}

.entry__description {
  margin-top: 1rem;
}

@media (max-width: 45rem) {
  .overview {
    grid-template-columns: 1fr;
    padding: 0rem 2rem 2rem;
  }

  .overview__title {
    text-align: left;
    padding: 0rem 3rem;
  }
}

@media (max-width: 30rem) {
  .overview {
    padding: 1rem;
    grid-row-gap: 1rem;
  }

  .overview__title {
    padding: 2rem 1rem 0rem;
  }
}
