.overview {
  display: grid;
  margin: 0 auto;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}

.overview--grid {
  grid-row-gap: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}

.overview--list {
  max-width: 45rem;
  grid-template-columns: 1fr;
}

.overview__title {
  text-align: left;
  max-width: 50%;
  font-size: 1.375rem;
  font-weight: 600;
  margin-bottom: 4rem;
  color: var(--text-secondary);
}

@media (max-width: 89rem) {
  .overview__title {
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 4rem;
    text-align: center;
  }
}

@media (max-width: 45rem) {
  .overview__title {
    max-width: 100%;
  }
}

@media (max-width: 30rem) {
  .overview {
    grid-row-gap: 1rem;
  }

  .overview__title {
    padding: 0rem 1rem;
    font-size: 1.125rem;
    margin-bottom: 2rem;
  }

  .overview--list {
    padding-left: 0rem;
    padding-right: 0rem;
    grid-row-gap: 0rem;
  }
}
