.switcher {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0rem 2rem 2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 48rem;

  .previous,
  .next {
    display: flex;
    flex-direction: row;
    text-decoration: underline;
    align-items: center;

    > span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 20rem;
    }
  }

  .previous {
    justify-content: flex-start;
    > span {
      margin-left: 0.25rem;
    }
  }

  .next {
    justify-content: flex-end;
    > span {
      margin-right: 0.25rem;
    }
  }
}

.tags {
  display: flex;
  font-size: 0.75rem;
  font-family: var(--monospace);
  flex-wrap: wrap;

  a {
    text-decoration: none;
    padding: 0.125rem 0.5rem;
    border-radius: 0.25rem;
    background: var(--primary);
    color: var(--white);
    transition: all ease-in-out 200ms;

    &:hover,
    &:focus,
    &:active {
      color: var(--white);
      background: var(--primary-dark);
    }
  }

  > li {
    padding: 0.25rem 0rem;
    margin-bottom: 0.25rem;
  }

  > * + * {
    margin-left: 1rem;
  }
}

.tags--page {
  padding: 0rem 2rem;
  justify-content: center;
}

@media (max-width: 45rem) {
  .tags--page {
    justify-content: flex-start;
    max-width: 30rem;
    padding: 0rem 2rem;
  }
}

@media (max-width: 30rem) {
  .switcher {
    grid-template-columns: 1fr;
    margin-top: 1rem;
    padding: 0rem 1rem 2rem;
  }

  .tags--page {
    padding: 0rem 1rem;
  }
}
