.switcher {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0rem 2rem 2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 55rem;

  .previous,
  .next {
    display: flex;
    flex-direction: row;
    text-decoration: underline;
    align-items: center;
    max-width: 18rem;
    background: none;
    color: var(--text-link);

    > span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }
  }

  .next {
    justify-self: flex-start;
    > span {
      margin-left: 0.25rem;
    }
  }

  .previous {
    justify-self: flex-end;
    > span {
      margin-right: 0.25rem;
    }
  }
}

.tags {
  display: flex;
  font-size: 0.85rem;
  font-family: var(--monospace);
  flex-wrap: wrap;
  position: relative;

  a:link,
  a:visited,
  a:active {
    text-decoration: none;
    color: var(--tag-color);
    background: var(--tag-bg);
    border-radius: 0.25rem;
    padding: 0 0.25rem;

    &:before {
      content: '#';
    }
  }

  > li {
    padding: 0.25rem 0rem;
  }

  > * + * {
    margin-left: 1rem;
  }
}

.tags--page {
  padding: 0rem 2rem;
  justify-content: center;
}

@media (max-width: 45rem) {
  .switcher {
    grid-template-columns: 1fr;
  }

  .tags--page {
    justify-content: flex-start;
    max-width: 30rem;
    padding: 0rem 2rem;
  }
}

@media (max-width: 30rem) {
  .switcher {
    margin-top: 1rem;
    padding: 0rem 1rem 2rem;
  }

  .tags--page {
    padding: 0rem 1rem;
  }
}
