/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */

html {
  font-size: calc(var(--base) * 1px);
  font-size: 100%;
}

body {
  height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-weight: 400;
  line-height: 1.75;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

/* A elements that don't have a class get default styles */
a,
a:visited {
  color: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: underline;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* buttons */
button {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1.25rem;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Misc. */
[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

:focus:not(:focus-visible) {
  outline: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

/* Hack to allow 100vh properly on iOS Safari */
@supports (-webkit-touch-callout: none) {
  body {
    height: -webkit-fill-available;
  }
}
