body {
  --footer-icon-stroke: var(--gray-100);
  --toggle-bg: var(--gray-400);

  --selection-bg: var(--primary);
  --selection-text: var(--gray-500);

  --blockquote-border: var(--primary);
  --footer-icon-stroke-hover: var(--primary);

  --text-link: var(--primary);
  --text-code: var(--primary);

  --toggle-thumb: var(--primary);
}

body.light {
  --bg-default: var(--white);
  --footer-bg: var(--gray-500);
  --code-bg: var(--gray-600);
  --code-highlight-bg: var(--gray-500);

  --header-icon-fill: var(--primary);
  --header-icon-stroke: var(--gray-500);

  --text-default: var(--black);
  --text-secondary: var(--gray-400);
  --text-code: var(--primary-dark);

  --blockquote-text: var(--gray-500);

  --card-bg: var(--gray-100);
  --card-bg-hover: var(--gray-100);

  --tag-color: var(--primary-dark);
  --tag-bg: none;
}

body.dark {
  --bg-default: var(--gray-500);
  --footer-bg: var(--gray-500);
  --code-bg: var(--gray-600);
  --code-highlight-bg: var(--gray-400);

  --header-icon-fill: var(--gray-300);
  --header-icon-stroke: var(--gray-100);

  --text-default: var(--white);
  --text-secondary: var(--gray-200);

  --blockquote-text: var(--gray-200);

  --card-bg: var(--gray-400);
  --card-bg-hover: var(--gray-400);

  --tag-color: var(--primary);
  --tag-bg: none;
}
