:root {
  // Colors
  --gray-100: #fafafa;
  --gray-200: #e0e4e9;
  --gray-300: #90959b;
  --gray-400: #707478;
  --gray-500: #292933;
  --gray-600: #121319;
  --green: #0d9e92;
  --green-light: #7dded6;
  --green-dark: #007a70;
  --blue: #1445c1;
  --blue-light: #95aff2;
  --blue-dark: #051a51;
  --red: #d15;
  --red-light: #ff89ac;
  --red-dark: #9d1a41;
  --gradient: linear-gradient(30deg, var(--blue), var(--green));

  // Spacing and sizes
  --unit: 1rem;
  --base: 16;
  --min-width: 15;
  --max-width: 75;
  --min-size: 1.125;
  --min-space: 1;

  // calculates the ratio that scales between 0px and 1px based on the screen
  // size
  --screen: min(100vw, calc(var(--max-width) * var(--unit)));
  --area: calc(var(--screen) - var(--min-width) * var(--unit));
  --ratio: calc(var(--area) / (var(--max-width) - var(--min-width)));

  // Font-sizes
  --size-default: calc(var(--unit) * var(--min-size) + 0.25 * var(--ratio, 0));
  --size-h1: calc(1.75rem + 0.5 * var(--min-size) * var(--ratio, 0));
  --size-h2: calc(1.375rem + 0.25 * var(--min-size) * var(--ratio, 0));
  --size-h3: calc(1.25rem + 0.25 * var(--min-size) * var(--ratio, 0));
  --size-code: calc(0.875rem + 0.25 * var(--ratio, 0));
  --size-small: calc(0.875 * var(--size-default));

  // spacing
  --s1: calc(
    var(--min-space) * var(--unit) + var(--min-size) * var(--ratio, 0)
  );
  --s0: calc(0.5 * var(--s1));
  --s2: calc(1.25 * var(--s1));
  --s3: calc(1.5 * var(--s1));
  --s4: calc(2 * var(--s1));
  --s5: calc(3 * var(--s1));

  // general-sizes
  --page-width: calc(var(--max-width) * var(--unit));
  // --logo-size: var(--size-default);
  --logo-size: calc(1.25rem * var(--min-size) + 0.125 * var(--ratio, 0));
  --icon-padding: calc(var(--logo-size) * 0.5);
  --radius: calc(0.25 * var(--logo-size));
  --min-el-width: calc(var(--min-width) * var(--unit) - 2 * var(--s1));
  --card: calc(var(--min-width) * var(--unit) + 3 * var(--ratio, 0));

  // font-family
  --sans-serif: 'Inter', system-ui, -apple-system, blinkmacsystemfont,
    'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  --monospace: hack, consolas, menlo, monaco, 'Courier New', monospace;

  // utils
  --time: ease-in-out 200ms;
  --transition: all var(--time);
}

// default theme
body {
  --text-default: var(--gray-600);
  --text-secondary: var(--gray-400);
  --bg-default: var(--gray-100);
  --bg-secondary: var(--gray-200);
  --bg-footer: var(--gradient);
  --code-default: var(--text-default);
  --code-primary: var(--green-dark);
  --code-secondary: var(--green);
  --code-tertiary: var(--text-secondary);
  --accent: var(--green);
  --logo-color: var(--text-default);
}

// Themes
body[data-theme='dark'] {
  --text-default: var(--gray-100);
  --text-secondary: var(--gray-300);
  --bg-default: var(--gray-600);
  --bg-secondary: var(--gray-500);
  --bg-footer: var(--gradient);
  --code-default: var(--text-default);
  --code-primary: var(--green);
  --code-secondary: var(--green-light);
  --code-tertiary: var(--text-secondary);
  --accent: var(--green);
  --logo-color: var(--text-default);
}
