:root {
  // Colors
  --gray-100: #fafafa;
  --gray-200: #e0e4e9;
  --gray-300: #8a9eb5;
  --gray-400: #667583;
  --gray-500: #333a41;
  --gray-600: #121319;
  --primary: #e52e5c;
  --primary-light: #ffabac;
  --primary-dark: #a10622;

  // Typography system (golden ratio)
  --text-0: calc(1.125rem + 0.1 * 1.2vw);
  --text-00: calc(0.8 * var(--text-0)); // small-font-size
  --text-000: calc(0.64 * var(--text-0)); // base-nav-size
  --text-1: calc(1.25 * var(--text-0));
  --text-2: calc(1.563 * var(--text-0));
  --text-3: calc(1.953 * var(--text-0));

  --sans-serif: 'Inter', system-ui, -apple-system, blinkmacsystemfont,
    'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  --monospace: hack, consolas, menlo, monaco, 'Courier New', monospace;

  // Spacing system: padding, margin, gap
  --spacing-0: calc(1rem + 0.1 * 1.2vw);
  --spacing-00: calc(0.75 * var(--spacing-0));
  --spacing-000: calc(0.5 * var(--spacing-0));
  --spacing-1: calc(1.25 * var(--spacing-0));
  --spacing-2: calc(2 * var(--spacing-1));
  --spacing-3: calc(3 * var(--spacing-1));

  // box-shadow
  --elevation-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --elevation-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --elevation-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

  // border-radius
  --radius-0: 0.25rem;
  --radius-1: calc(2 * var(--radius-0));
  --radius-2: calc(4 * var(--radius-0));

  // (min-/max-)width/height
  --size-0: 15rem;
  --size-1: 20rem;
  --size-2: 30rem;
  --size-3: 40rem;
  --size-4: 50rem;
  --size-5: 75rem;

  // misc
  --transition: all ease-in-out 200ms;
}

// default theme
body {
  --text-default: var(--gray-600);
  --text-secondary: var(--gray-400);
  --text-link: var(--primary);
  --bg-default: var(--gray-100);
  --bg-secondary: var(--gray-200);
  --bg-footer: var(--bg-secondary);
  --code-default: var(--text-default);
  --code-primary: var(--primary);
  --code-secondary: var(--primary-dark);
  --code-tertiary: var(--gray-300);
  --logo-color: var(--text-default);
}

// Themes
body[data-theme='dark'] {
  --text-default: var(--gray-100);
  --text-secondary: var(--gray-300);
  --text-link: var(--primary);
  --bg-default: var(--gray-600);
  --bg-secondary: var(--gray-500);
  --bg-footer: var(--bg-secondary);
  --code-default: var(--gray-200);
  --code-primary: var(--primary);
  --code-secondary: var(--primary-light);
  --code-tertiary: var(--text-secondary);
  --logo-color: var(--text-default);
}
