:root {
  // Colors
  --gray-100: #fafafa;
  --gray-200: #e0e4e9;
  --gray-300: #8a9eb5;
  --gray-400: #667583;
  --gray-500: #333a41;
  --gray-600: #121319;
  --primary: #e52e5c;
  --primary-light: #ffabac;
  --primary-dark: #a10622;

  // Spacing and sizes
  --screen-scale: calc(0.2 * 1.618vw); // based on golden ratio
  --min-width: 15rem;
  --max-width: 75rem;

  // calculates the ratio that scales between 0px and 1px based on the screen
  // size
  --screen: min(100vw, var(--max-width));
  --area: calc(var(--screen) - var(--min-width));
  --ratio: calc(var(--area) / 60);

  // Typography system (based on golden ratio scaling
  --text-3: calc(1.953rem + var(--screen-scale));
  --text-2: calc(1.563rem + var(--screen-scale));
  --text-1: calc(1.25rem + var(--screen-scale));
  --text-0: calc(1rem + var(--screen-scale));
  --text-00: calc(0.8rem + var(--screen-scale)); // small-font-size
  --text-000: calc(0.64rem + var(--screen-scale)); // base-nav-size

  // box-shadow system
  --elevation-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --elevation-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --elevation-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

  // Spacing (margin/padding) system
  --s1: calc(1rem + var(--screen-scale));
  --s0: calc(0.5 * var(--s1));
  --s2: calc(1.25 * var(--s1));
  --s3: calc(1.5 * var(--s1));
  --s4: calc(2 * var(--s1));
  --s5: calc(3 * var(--s1));

  // general-sizes
  --page-width: var(--max-width);
  --logo-size: calc(1.25rem + var(--screen-scale));
  --icon-padding: calc(var(--logo-size) * 0.5);
  --radius: calc(0.25 * var(--logo-size));
  --min-el-width: calc(var(--min-width) - 2 * var(--s1));
  --card: calc(var(--min-width) + 3 * (1rem + var(--screen-scale)));

  // font-family
  --sans-serif: 'Inter', system-ui, -apple-system, blinkmacsystemfont,
    'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  --monospace: hack, consolas, menlo, monaco, 'Courier New', monospace;

  // utils
  --time: ease-in-out 200ms;
  --transition: all var(--time);
}

// default theme
body {
  --text-default: var(--gray-600);
  --text-secondary: var(--gray-400);
  --text-link: var(--primary);
  --bg-default: var(--gray-100);
  --bg-secondary: var(--gray-200);
  --bg-footer: var(--bg-secondary);
  --code-default: var(--text-default);
  --code-primary: var(--primary);
  --code-secondary: var(--primary-dark);
  --code-tertiary: var(--gray-300);
  --logo-color: var(--text-default);
}

// Themes
body[data-theme='dark'] {
  --text-default: var(--gray-100);
  --text-secondary: var(--gray-300);
  --text-link: var(--primary);
  --bg-default: var(--gray-600);
  --bg-secondary: var(--gray-500);
  --bg-footer: var(--bg-secondary);
  --code-default: var(--gray-200);
  --code-primary: var(--primary);
  --code-secondary: var(--primary-light);
  --code-tertiary: var(--text-secondary);
  --logo-color: var(--text-default);
}
