:root {
  /**
   * COLORS
   */
  --token-brand-0: #c77261;
  --token-brand-1: #caa206;
  --token-brand-2: #14765d;
  --token-brand-3: #3e2cae;

  /**
   * FONT FAMILY
   */
  --sans-serif: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;

  /**
   * RADIUS & ELEVATION
   */
  --token-radius-0: 0.25rem;
  --token-radius-1: 0.5rem;

  --token-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075);
  --token-elevation: 4px 4px 0px 0px var(--text-0);
}

/**
 * LIGHT THEME
 */
:root {
  color-scheme: light;
  accent-color: var(--primary);

  --primary: var(--token-brand-2);
  --code-primary: var(--token-brand-2);
  --code-secondary: var(--token-brand-3);
}

/**
  * DARK THEME
  */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --text-0: var(--token-neutral-5);
    --text-1: var(--token-neutral-4);
    --text-2: var(--token-neutral-3);
    --surface-0: var(--token-neutral-0);
    --surface-1: var(--token-neutral-1);
    --surface-2: var(--token-neutral-2);

    --primary: var(--token-brand-0);
    --code-primary: var(--token-brand-0);
    --code-secondary: var(--token-brand-1);
  }
}
