:root {
  /**
   * COLORS
   */
  /** SYSTEM */
  --token-error-00: #c43d4c;
  --token-error-0: #f98a96;
  --token-error-1: #f3c7cb;
  --token-warning-00: #b6991c;
  --token-warning-0: #f9e48a;
  --token-warning-1: #faf1ca;
  --token-success-00: #1eac0c;
  --token-success-0: #96f98a;
  --token-success-1: #d5fbca;
  --token-info-00: #498dcd;
  --token-info-0: #95cafa;
  --token-info-1: #cfe4fb;
  /** brand colors */
  --token-brand-0: #98a0fa;
  --token-brand-1: #5eddac;
  --token-brand-2: #536fe3;
  --token-brand-3: #078080;

  /**
   * FONT FAMILY
   */
  --sans-serif: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  /**
   * RADIUS & ELEVATION
   */
  --token-radius-0: 0.25rem;
  --token-radius-1: 0.75rem;
  --token-elevation-0: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075);
  --token-elevation-1: 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

/**
 * LIGHT THEME
 */
:root {
  color-scheme: light;
  --primary: var(--token-brand-3);
  --secondary: var(--token-brand-2);
  --error: var(--token-error-00);
  --success: var(--token-success-00);
  --info: var(--token-info-00);
  --warning: var(--token-warning-00);
  accent-color: var(--primary);
}

/**
  * DARK THEME
  */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --text-0: var(--token-neutral-5);
    --text-1: var(--token-neutral-4);
    --text-2: var(--token-neutral-3);
    --surface-0: var(--token-neutral-0);
    --surface-1: var(--token-neutral-1);
    --surface-2: var(--token-neutral-2);
    --primary: var(--token-brand-0);
    --secondary: var(--token-brand-1);
    --error: var(--token-error-0);
    --success: var(--token-success-0);
    --info: var(--token-info-0);
    --warning: var(--token-warning-0);
  }
}
