:root {
  /**
   * COLORS
   */
  /** SYSTEM */
  --token-error-00: #b5474f;
  --token-error-0: #cc878e;
  --token-error-1: #f3c7cb;
  --token-warning-00: #b19a3a;
  --token-warning-0: #d5c98b;
  --token-warning-1: #faf1ca;
  --token-success-00: #52a933;
  --token-success-0: #9ed68c;
  --token-success-1: #d5fbca;
  --token-info-00: #4a7bb8;
  --token-info-0: #8caed4;
  --token-info-1: #cfe4fb;
  /** brand colors */
  --token-brand-0: #9adcc4;
  --token-brand-1: #477968;

  /**
   * FONT FAMILY
   */
  --sans-serif: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;

  /**
   * RADIUS & ELEVATION
   */
  --token-radius-0: 0.25rem;
  --token-radius-1: 0.75rem;
  --token-elevation-0: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075);
  --token-elevation-1: 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

/**
 * LIGHT THEME
 */
:root {
  color-scheme: light;
  --primary: var(--token-brand-1);
  --error: var(--token-error-00);
  --success: var(--token-success-00);
  --info: var(--token-info-00);
  --warning: var(--token-warning-00);
  accent-color: var(--primary);
}

/**
  * DARK THEME
  */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --text-0: var(--token-neutral-5);
    --text-1: var(--token-neutral-4);
    --text-2: var(--token-neutral-3);
    --surface-0: var(--token-neutral-0);
    --surface-1: var(--token-neutral-1);
    --surface-2: var(--token-neutral-2);
    --primary: var(--token-brand-0);
    --error: var(--token-error-0);
    --success: var(--token-success-0);
    --info: var(--token-info-0);
    --warning: var(--token-warning-0);
  }
}
