:root {
  --white: #ffffff;
  --black: #000000;

  --gray-100: #ebeff5;
  --gray-200: #bec8dc;
  --gray-300: #828aa4;
  --gray-400: #434c60;
  --gray-500: #2c3444;
  --gray-600: #1e212e;

  --green-200: #8fbcb1;
  --green-300: #5a9691;

  --blue-200: #8196c1;
  --blue-300: #5e78ac;

  --sans-serif: proxima-nova, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  --monospace: 'dm', Consolas, Menlo, Monaco, 'Courier New', monospace;
}
