:root {
  --white: #ffffff;
  --black: #000000;

  --gray-100: #edeff2;
  --gray-200: #becedc;
  --gray-300: #899bb0;
  --gray-400: #4f596a;
  --gray-500: #11293c;

  --green-200: hsl(165, 70%, 45%);
  --green-300: hsl(176, 65%, 39%);

  --sans-serif: proxima-nova, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  --monospace: 'Hack', Inconsolata, Monaco, Consolas, 'Courier New', Courier,
    monospace;
}
