:root {
  --white: #ffffff;
  --black: #000000;

  --gray-100: #ebeff5;
  --gray-200: #bec8dc;
  --gray-300: #828aa4;
  --gray-400: #394c6d;
  --gray-500: #1f2839;
  --gray-600: #011626;

  --green-200: #00ad69;

  --sans-serif: proxima-nova, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  --monospace: 'dm', Consolas, Menlo, Monaco, 'Courier New', monospace;
}
