<!DOCTYPE html>
<html lang="{{ metadata.language }}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content="Eleventy" />
        <meta name="color-scheme" content="light dark" />
        <meta name="theme-color" media="(prefers-color-scheme: light)" content="#F7F9FB">
        <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#0E131B">
        <meta name="view-transition" content="same-origin">
        <!-- assets -->
        <link rel="icon" href="/favicon.ico" sizes="any"><!-- 32×32 -->
        <link rel="icon" href="/icon.svg" type="image/svg+xml">
        <link rel="mask-icon" href="/icon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
        <link rel="manifest" href="/site.webmanifest">
        <link rel="canonical" href="{{ metadata.url }}">
        <link rel="me" href="https://indieweb.social/@crinkles">
        <link rel="stylesheet" href="{{ '/styles/index.css' | url }}">
        <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
        <!-- page data -->
        <title>{{ title or metadata.title }} • Vyckes</title>
        <meta name="description" content="{{ description or metadata.description }}">
        <meta name="keywords" content="{{ metadata.keywords }}">
        <meta name="content" content="{{ metadata.keywords }}">
        <meta name="property" content="{{ metadata.keywords }}">
        <!-- OG -->
        <meta property="og:site_name" content="{{ metadata.site }}">
        <meta property="og:url" content="{{ metadata.url }}">
        <meta property="og:title" content="{{ title or metadata.title }}">
        <meta property="og:description" content="{{ description or metadata.description }}">
        <meta property="og:image" content="{{ metadata.social.img }}">
    </head>

    <body>
        {% include "components/header.njk" %}
        {% include "components/canvas.njk" %}
        {% block content %}{% endblock %}
        {% include "components/footer.njk" %}
    </body>
    {# <script defer data-domain="vyckes.dev" src="/js/script.js"></script> #}
</html>
