{% extends "layouts/base.njk" %} 
{% block content %}
  <main class="center center-w-5 center-g-1 | flex-grow | stack stack-g-0 | mb-3">
    {% include "components/header.njk" %}
    <section class="switcher switcher-w-1 switcher-a-2 gap-5 items-center mb-2">
      <div class="stack">
        <h1 class="text-4"><i class="serif">Hi!</i> I'm Kevin.</h1>
        {{ content | safe }}
        <span class="text-00 text-fg-1 mt-0 mb-4">
            Currently working as an engineering manager and principle front-end engineer at <a
              href="https://finaps.nl">Finaps</a
            >.
          </span>
          {% include "components/wave.njk" %}
      </div>
      <section class="stack">    
        <div class="list-group list-group--scale tiles tiles-w-00 gap-0">
          {% for post in collections.writing | reverse | head(4) %}
            <div class="bg-bg-1 radius-000 border-bg-1 hover:border-primary | flex-col | click-area | p-1">
              <time class="text-00 text-fg-1 slash" datetime="{{ post.data.date | readableDate }}">
                {{ post.data.date | readableDate }}
              </time>
              <h2 class="text-0">
                <a href="/writing/{{ post.page.url }}">{{ post.data.title }}</a>
              </h2>
              <span class="text-00 text-fg-1 mt-000">{{ post.data.description }}</span>
            </div>
          {% endfor %}
        </div>
        <a href="/writing" class="redirect text-0 self-end">See all articles</a>
      </section>
    </section>
  </main>
{% include "components/footer.njk" %}
{% endblock %}