{% extends "layouts/base.njk" %}
{% block content %}
  <main class="center --width-{{ width or 4 }} pl-1 pr-1 | flex-col --gap-0 flex-grow | mb-3">
    {% if title %}<h1 class="overline">{{ title }}</h1>{% endif %}
    {{ content | safe }}
  </main>
  {% if pagination %}
    <section class="switcher --width-3 --gap-1 | p-1 mb-0">
      {% if pagination.href.previous %}
        <h3><a href="{{ pagination.href.previous | url }}">← Previous</a></h3>
      {% endif %}
      {% if pagination.href.next %}
        <h3 class="text-right"><a href="{{ pagination.href.next | url }}" >Next →</a></h3>
      {% endif %}
    </section>
  {% endif %}
{% endblock %}