{% extends "layouts/base.njk" %}
{% block content %}
  <main class="center --width-{{ width or 4 }}">
    {% if title %}<h1 class="overline">{{ title }}</h1>{% endif %}
    {{ content | safe }}
  </main>
  {% if pagination %}
    <aside class="pagination | repel --gap-1">
      {% if pagination.href.previous %}
        <span class="size-1 bold"><a href="{{ pagination.href.previous | url }}">← Newer</a></span>
      {% endif %}
      {% if pagination.href.next %}
        <span class="size-1 bold text-right"><a href="{{ pagination.href.next | url }}" >Older →</a></span>
      {% endif %}
    </aside>
  {% endif %}
{% endblock %}