{% extends "layouts/base.njk" %}
{% block content %}

<main class="center --width-4 pl-1 pr-1 | flex-grow | flex-col --gap-000 | mb-3">

  <h1 class="overline">{{ title }}</h1>
  <time datetime="{{ page.date }}" class="size-00 text-color-1 slash">{{ page.date | readableDate }}</time>
  {% include "components/tag-list.njk" %}
  <div class="pb-2 mb-2 | separator"></div>

  <div class="relative | sidebar-right --width-00 --gap-3 | fade-in">
    <article class="post | center --width-3 | stack --gap-2 | separator pb-3">
      {{ content | safe }}
    </article>

    {% set toc = content | headers %}
    {% if toc | length %}
    <nav class="toc | sticky | stack --gap-000 self-start">
      <span class="size-00 uppercase sans-serif bold">Table of contents</span>
      <ul class="content-table" role="list">
        {% for header in toc %}
        <li class="pb-00 lh-0" data-active="true">
          <a href="#{{ header.id }}" class="size-00 no-decoration text-color-0">
            {{ header.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>
    {% endif %}
  </div>
</main>


{% set nextPost = collections.writing | getNextCollectionItem(page) %}
{% set previousPost = collections.writing | getPreviousCollectionItem(page) %}

<section class="switcher --width-3 --gap-1 | p-1 mb-0">
	{% if previousPost %}
    <div class="flex-col --gap-none items-start justify-center">
      <span class="text-color-1 size-00 uppercase no-decoration">← Previous</span>
      <h3><a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></h3>
    </div>
	{% endif %}
  {% if nextPost %}
    <div class="flex-col --gap-none items-end justify-center | text-right">
      <span class="text-color-1 size-00 uppercase no-decoration">Next →</span>
      <h3><a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></h3>
    </div>
	{% endif %}
</section>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      const id = entry.target.getAttribute('id');
      const el = document.querySelector(`nav li a[href="#${id}"]`);
      if (!el) return;
      if (entry.intersectionRatio > 0) el.parentElement.dataset.active = true;
      else el.parentElement.dataset.active = false;
    });
  });
  // Track all sections that have an `id` applied
  document.querySelectorAll('h2[id]').forEach((header) => {
    observer.observe(header);
  });
</script>

{% endblock %}