.glitch {
  animation:
    glitch 2s linear infinite,
    flicker 4s linear infinite;
}

.flicker {
  animation: flicker 1.2s linear infinite;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(0.125rem, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-0.125rem, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

@keyframes flicker {
  94%,
  96%,
  98%,
  100% {
    filter: hue-rotate(0deg);
  }
  95% {
    filter: hue-rotate(90deg);
  }
  97% {
    filter: hue-rotate(-90deg);
  }
  99% {
    filter: hue-rotate(180deg);
  }
}
