:root {
  --white: #ffffff;
  --black: #000000;

  --gray-200: #d7d7d7;
  --gray-400: #31343d;
  --gray-600: #131418;

  --primary: #755cf2;

  --sans-serif: proxima-nova, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  --monospace: Hack, Consolas, Menlo, Monaco, 'Courier New', monospace;

  --size-h1: 2.25rem;
  --size-h2: 1.625rem;
  --size-h3: 1.25rem;
}

body {
  --text-default: var(--black);
  --bg-default: var(--white);
  --main-color: var(--primary);
  --text-link: var(--main-color);

  --icon-fill: var(--main-color);
  --icon-stroke: var(--text-default);
  --bg: var(--gray-600);
  --code-bg: var(--gray-400);

  --code-text: var(--white);
  --code-highlight-bg: var(--gray-400);

  --logo-size: 1.5rem;
  --spacing: 2rem;

  --card: 18rem;

  @media (max-width: 45rem) {
    --size-h1: 1.75rem;
    --size-h2: 1.375rem;
  }

  @media (max-width: 30rem) {
    --logo-size: 1.25rem;
    --spacing: 1rem;
  }
}

body.light {
  --text-default: var(--gray-600);
  --bg-default: var(--white);

  --text-secondary: var(--gray-400);
}

body.dark {
  --text-default: var(--white);
  --bg-default: var(--gray-600);

  --text-secondary: var(--gray-200);
}

/*******
* Generic styling
*******/
body {
  font-weight: 400;
  font-family: var(--sans-serif);
  line-height: 1.75;
  background-color: var(--bg-default);
  color: var(--text-default);
  transition: all ease-in-out 100ms;
  min-width: 20rem;
}

// HEADINGS
h1,
h2,
h3 {
  width: 100%;
  color: var(--text-default);
}

h1 {
  font-size: var(--size-h1);
  font-weight: 600;
}

h2 {
  font-size: var(--size-h2);
  font-weight: 600;
}

h3 {
  font-size: var(--size-h3);
  font-weight: 600;
}

// LINKS
a:link,
a:visited,
a:active {
  transition: all ease-in-out 100ms;
  text-decoration: underline;
  text-decoration-color: var(--text-link);
}

a:hover,
a > *:hover {
  color: var(--text-link);
}

a.svg {
  position: relative;
  display: inline-block;
}

::selection {
  color: var(--bg-default) !important;
  background: var(--text-default) !important;
  text-shadow: 0 0 0 (--bg-default);
}

// QUOTES
blockquote {
  border-left: 0.25rem solid var(--main-color);
  padding: 0.5rem 1rem;
  font-style: italic;
  color: var(--text-default);

  p {
    font-size: 1.5rem;
    opacity: 0.7;
  }

  cite {
    width: 100%;
    font-size: 1rem;
    display: block;
    text-align: right;

    &:before {
      content: '-- ';
    }
  }
}

// CODE BLOCKS
pre[class*='language-'] {
  font-size: 0.85rem;
  padding: 1.25rem;
  margin: 0rem;
  overflow: auto;
  max-width: 100vw;
  background-color: var(--code-bg) !important;

  > code[class*='language-'] {
    font-family: var(--monospace);
  }
}

// INLINE CODE
:not(pre) > code,
:not(pre) > code[class*='language-'] {
  font-family: var(--monospace);
  font-size: 0.875rem;
  opacity: 0.9;
  color: var(--text-default) !important;
  background-color: transparent !important;
  font-weight: 600;
  padding: 0rem 0.25rem;

  &::before,
  &::after {
    content: '`';
  }
}

[href^='http']:not([href*='http://kevtiq.dev']):after
{
  content: '';
  font-family: var(--monospace);
  font-size: 0.75rem;
}

@media (max-width: 30rem) {
  html,
  body {
    line-height: 1.8;
  }

  pre[class*='language-'] {
    padding: 1rem;
    border-radius: 0rem;
  }
}
