.--width-000 { --layout-width: var(--bp-000); }
.--width-00 { --layout-width: var(--bp-00); }
.--width-0 { --layout-width: var(--bp-0); }
.--width-1 { --layout-width: var(--bp-1); }
.--width-2 { --layout-width: var(--bp-2); }
.--width-3 { --layout-width: var(--bp-3); }
.--width-4 { --layout-width: var(--bp-4); }
.--width-5 { --layout-width: var(--bp-5); }