---
title: 🙈🙊🙊 oh no 🙈🙊🙊
description: 404
permalink: 404.html
layout: page
---
<p class="size-1 | mb-4">It seems we can't find the page you are looking for. Maybe go back to the <a href="/">homepage</a>, or take a look at any of the recent posts.</p>
<div class="flex --column --cross-start">
  {% set posts =  collections.posts | head(3) %}
  {% include "components/post-list.njk" %}
</div>