---
title: 🙈🙊🙊 oh no 🙈🙊🙊
description: 404
permalink: 404.html
layout: base
---

<div class="page-section | center flex --column --gap-0 --center">
  {% include "svg/robot.svg" %}
  <p class="bold text-primary size-1">🙈🙊🙊 oh no 🙈🙊🙊</p>
  <h1 class="text-center">You found a broken page.</h1>
  <a href="/" class="btn">Go to the homepage</a>
</div>
