---
layout: layouts/page.njk
width: 4
---

<div class="sidebar --left --width-000 --gap-3">
  <div class="flex-col items-center">
    {% include "components/profile.svg" %}
  </div>
  <div>
    <h1 class="overline">Hello, my name is Kevin</h1>
    <p class="text-2 italic">
      Web tinkerer, software engineer, CSS lover, and
      <a href="/writing">writer</a>.
    </p>
    <article class="mt-1">
      <p>
        I am a Dutch front-end focused software engineer and engineering
        manager. During my studies I came into contact with the C and C++
        programming languages, and I hated it. I vowed to never do anything in
        programming ever again. But soon after I found a love for web
        development, especially the visual implementation. That was 15+ years
        ago and never looked back.
      </p>
      <p>
        A few years back I started this after-hours digital playground - my
        corner of the internet. It is the place where I experiment and innovate.
        Looking for lean implementations to existing problems on the web.
      </p>
      <!-- <p>
       The name is inspired by the British <a href="https://en.wikipedia.org/wiki/Crinkle_crankle_wall" alt="Link to a wikipedia page">crinkle crankle walls</a>.
      </p>
      <blockquote>
        A crinkle crankle wall is a unique structure that provides greater strength with less bricks
      </blockquote>
      <p>
        These unique walls have greater strength while using less bricks. This embodies what I try to achieve with <i>vyckes</i>, using native browser technologies (framework-less) and create more.
      </p> -->
    </article>
  </div>
</div>
