---
layout: page
width: 5
picture: svg/sticker-coffee.svg
title: Some quick things about me
description: User manual
---

<section class="sidebar --right --threshold-0 --gap-3">
  <dl class="info-section card">
    <dt>Who.</dt>
    <dd>I am a Dutch software engineer, specialised in the web platform as a whole. I enjoy <a href="/writing">writing</a> about all the exciting new stuff I encounter about the web and software development. Like many, I drink a lot of coffee to get throughout the day. Those two small kids of mine certainly won't help cut down on the caffeine intake. But whenever I have time and energy, and I am not working <span class="flag">crinkels</span> or <a href="https://feo.crinkels.dev">feo.css</a>, I do love to play some videogames. It is no secret that Pokemon is my favorite franchise.</dd>

    <dt>What.</dt>
    <dd>I specialize in development around the web platform. In particular <span class="tag">CSS</span>, the implementation side of <span class="tag" aria-label="accessibility">a11y</span>, and <span class="tag">sustainable web development</span>. I am always open for open conversations around mentoring, consulting, or reviewing on these topics.</dd>

    <dt>Technologies.</dt>
    <dd>
      <ul>
        <li><span class="bold">Web</span>: HTML, CSS & JavaScript</li>
        <li><span class="bold">Package development</span>: JavaScript & TypeScript</li>
        <li><span class="bold">UI frameworks</span>: Svelte & React</li>
        <li><span class="bold">Application frameworks</span>: Eleventy & SvelteKit</li>
      </ul>
    </dd>

    <dt>Where.</dt>
    <dd>I live in the Netherlands with my family.</dd>

    <dt>Work.</dt>
    <dd>I work for Finaps a (small-ish) software agency based in Amsterdam, the Nethelands. Here I lead a team of ~15 software engineers.</dd>
  </dl>
  <aside class="flex --column --gap-1" data-size="small" aria-label="Top tags on the site">
    <div class="card | flex --column --center">
      <h2 class="mb-2">You can find me here</h2>
      {% include "partials/socials.njk" %}


      <a href="/uses" class="mt-2 | btn">Or take a look at my /uses page.</a>
    </div>
  </aside>
</section>
