---
layout: page
width: 4
title: Kevin Pennekamp
---

<div class="maxw-3 | flex --column --gap-1 --start | mb-5">
  <section class="info-section | sidebar --left --gap-000">
    <span class="bold">Who.</span>
    <p class="text-2">I am a Dutch software engineer, specialised in the web platform as a whole. In particular CSS.</p>
  </section>
  <section class="info-section | sidebar --left --gap-000">
    <span class="bold">Where.</span>
    <p class="text-2">I live in Amersfoort, the Netherlands with my family.</p>
  </section>
  <section class="info-section | sidebar --left --gap-000">
    <span class="bold">What.</span>
    <div class="flex --column --gap-000 --start | text-2">
      <p class="text-2">I specialize in:</p>
      <ul>
        <li>CSS & HTML</li>
        <li>Sustainable web development</li>
        <li>JavaScript & TypeScript package development</li>
        <li>React (I know, it conflicts with the sustainable web...)</li>
      </ul>
    </div>
  </section> 
  <section class="info-section | sidebar --left --gap-000">
    <span class="bold">Work.</span>
    <p class="text-2">I work for Finaps in Amsterdam (again the Netherlands), a (small) software agency, where I lead a team of 15-20 software engineers.</p>
  </section>
</div>
