---
layout: base
---

<section class="title-section page-section">
  <div class="flex --column maxw-2">
    <p class="bold text-primary size-1">Hi, I'm Kevin!</p>
    <h1>I craft digital landscapes.</h1>
    <p class="size-1 mt-1">This is my digital playground & corner of the internet, where I (mostly) write about <span class="tag">css</span> and work on <a href="https://feo.crinkels.dev">feo.css</a>.</p>
  </div>
  {% include "svg/sticker-laptop.svg" %}
</section>

<secion class="page-section | flex --column --gap-3 | mt-3">
  <div class="card flex --column --gap-00">
    <h2 class="size-3 text-primary mb-0">Recent posts</h2>
    {% set posts =  collections.posts | head(3) %}
    {% include "components/post-list.njk" %}
    <a href="/writing" class="size-00 | btn | self-end">Read more articles</a>
  </div>
</secion>
