---
layout: base
---

<section class="title-section | center --threshold-5 | mb-3">
  <h1 class="size-1"><span class="text-primary normal italic">&lt;web-dev&gt;</span>Kevin Pennekamp<span class="text-primary normal italic">&lt;/web-dev&gt;</span></h1>
</section>

<section class="banner | contrast | center | mb-4">
  <div class="content | center | fifty --threshold-0 --gap-3 maxw-5">
    <div class="flex --column - --stretch maxw-3 --gap-2">

      <section class="info-section | sidebar --left --gap-000">
        <span class="bold text-primary">Who.</span>
        <div class="flex --column --gap-000 --start">
          <p>I am a Dutch software engineer, specialised in the web platform as a whole. In particular <span class="flag">CSS</span>.
           I enjoy <a href="/writing">writing</a> and working on <a href="https://feo.crinkles.dev">Feo.css</a>.
           This is my digital playground & corner of the internet.</p>
        </div>
      </section>
      <section class="info-section | sidebar --left --gap-000">
        <span class="bold text-primary">Work.</span>
        <p>I work for Finaps a (small-ish) software agency based in Amsterdam, the Netherlands. Here I lead a team of ~15 software engineers.</p>
      </section>
    </div>
    <div class="flex --column">
      {% include "svg/profile.svg" %}
    </div>
  </div>
</section>

<main class="center --threshold-5 | mb-4">
  <div class="sidebar --right --threshold-0 --gap-5 | --start">
    <div class="flex --column --stretch --gap-00">
      <h2 class="text-1"><a href="/writing" class="redirect">Posts</a></h2>
      {% set posts =  collections.posts | head(3) %}
      {% include "components/post-list.njk" %}
    </div>
    <aside class="flex --column --gap-000" aria-label="Top tags on the site">
      <span class="text-2">Filter by tag..</span>
      {% set tags = collections.posts | getAllTags %}
      {% include "components/tag-list.njk" %}
    </aside>
  </div>
</main>
