---
layout: base
---

<section class="page-section | flex --column --start">
  <span class="size-0 text-primary normal italic">&lt;web-tinkerer&gt;</span>
  <h1 class="ml-1">Kevin Pennekamp</h1>
  <span class="size-0 text-primary normal italic">&lt;/web-tinkerer&gt;</span>
</section>

<section class="page-section | sidebar --threshold-0 --right --gap-3">
    <div class="card box | flex --column - --stretch --gap-2">
      <section class="info-section | sidebar --left --gap-000 | maxw-3">
        <span class="text-primary">Who.</span>
        <div class="flex --column --gap-000 --start">
          <p>I am a Dutch software engineer, specialised in the web platform as a whole. In particular <span class="flag">CSS</span>.
           I enjoy <a href="/writing">writing</a> and working on <a href="https://feo.crinkles.dev">Feo.css</a>.
           This is my digital playground & corner of the internet.</p>
        </div>
      </section>
      <section class="info-section | sidebar --left --gap-000 | maxw-3">
        <span class="text-primary">Work.</span>
        <p>I work for Finaps a (small-ish) software agency based in Amsterdam, the Netherlands. Here I lead a team of ~15 software engineers.</p>
      </section>
    </div>
    <aside class="flex --column">
      {% include "svg/profile.svg" %}
    </aside>
</section>

<main class="page-section">
  <div class="flex --column --center --gap-00 | maxw-3 center">
    <h2 class="uppercase">Here's my most recent posts</h2>
    {% set posts =  collections.posts | head(3) %}
    {% include "components/post-list.njk" %}
    <a href="/writing" class="size-00 | redirect | self-end">Read more</a>
  </div>
</main>
