---
title: My work
layout: page
eleventyExcludeFromCollections: true
---

<ul role="list" class="flex-col --gap-3 | hover-group | flex-grow">
  {% for type, projects in projects | groupby("type") %}
  <li>
    <h2 class="text-primary uppercase mb-0">{{ type }}</h2>
    <ul role="list" class="tiles --width-00 --gap-0 | hover-group | flex-col --gap-0" role="list">
      {% for project in projects %}
      <li class="card | flex-col --gap-000 elevation-0 | click-area" role="listitem">
        <h3 class="size-0">
          <a href="{{ project.href }}" class="bold"> {{ project.title }} </a>
        </h3>
        <p class="size-00 flex-grow">{{ project.description }}</p>
        <span class="self-start text-2 size-00"><span class="text-primary">#</span>{{ project.tech }}</span>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
