---
title: My work
layout: layouts/page.njk
eleventyExcludeFromCollections: true
---

<ul role="list" class="flex-col --gap-3 | list-group | flex-grow | fade-in">
  {% for type, projects in projects | groupby("type") %}
  <li>
    <h2 class="text-color-primary uppercase mb-0">{{ type }}</h2>
    <ul role="list" class="tiles --width-00 --gap-0 | list-group | flex-col --gap-0" role="list">
      {% for project in projects %}
      <li class="card shadow | flex-col --gap-none | click-area" role="listitem">
        <span class="slash | size-00 text-color-1">{{ project.tech }}</span>
        <h3 class="size-0">
          <a href="{{ project.href }}" class="bold"> {{ project.title }} </a>
        </h3>
        <span class="text-color-1 size-00">{{ project.description }}</span>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
