---
title: All topics
layout: page
eleventyExcludeFromCollections: true
width: 3
---

<ul>
  {% for tag, count in collections.posts | getAllTags(true) %}
  <li>
    <a href="/tags/{{ tag }}/">{{ tag }}</a>
    <span class="size-00"> ({{ count }} articles)</span>
  </li>
  {% endfor %}
</ul>
