---
layout: page
eleventyExcludeFromCollections: true
picture: sticker-book
description: All articles within this category
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - writing
permalink: /tags/{{ tag | slugify }}/
eleventyComputed:
  title: Category "{{ tag }}"
---

{% set selected = tag %}

<div class="sidebar --right --threshold-0 --gap-5">
  {% set posts = collections[ tag ] | reverse or [] %}
  {% include "components/post-list.njk" %}
</div>
