---
layout: page
title: My hardware and most loved software
description: /uses
picture: svg/sticker-tech.svg

---

<section class="sidebar --right --threshold-0 --gap-3">
  <dl class="info-section">
    <dt>Hardware.</dt>
    <dd>
      <ul>
        <li>Apple MacBook Pro 2023 (M2), 14inch</li>
        <li>Apple iPhone 15</li>
        <li>Apple iPad Mini (6th gen)</li>
        <li>Apple Magic Trackpad 2</li>
        <li>Apple Earpods Pro 2</li>
        <li>Nuphy Air75</li>
        <li><a href="https://www.therooststand.com">The Roost Stand</a></li>
      </ul>
    </dd>

    <dt>Productivity.</dt>
    <dd>
      <ul>
        <li><a href="https://culturedcode.com/things/">Things</a>: the core task manager that runs my life.</li>
        <li><a href="https://bear.app">Bear</a>: all my knowledge, meeting notes, project overviews, etc. are stored here.</li>
        <li><a href="https://tot.rocks">Tot</a>: my scratchpad to quickly make small notes that sync. From here stuff goes to Things, Bear, or in a <span class="tag">void</span>.</li>
        <li><span>Apple Calendar</span>: more than suffices for my need of a calendar.</li>
        <li><span>Apple Mail</span>: more than suffices for my need of a mail client.</li>
      </ul>
    </dd>

    <dt>Code & design.</dt>
    <dd>
      <ul>
        <li><a href="https://zed.dev">Zed</a>: it is a nice fast editor, but I am not really tied to any particular editor.</li>
        <li><a href="https://ghostty.org">Ghostty</a>: a nice looking terminal.</li>
        <li><a href="https://vivaldi.com">Vivaldi</a>: every web developer needs a browser. This is mine.</li>
        <li><a href="https://www.figma.com">Figma</a>: I am no designer. But what I do, I do in Figma.</li>
        <li><a href="https://www.mindnode.com">MindNode</a>: the last months (04-2025) I have the tendency to visualize more things using mindmaps (e.g. information architecture). MindNode is by the far the best looking app for this.</li>
        <li><a href="https://contrasts.app">Contrasts</a>: color contrast checker (combined with supercharge color picker).</li>
      </ul>
    </dd>

    <dt>MacOS supercharge.</dt>
    <dd>
      <ul>
        <li><a href="https://sindresorhus.com/supercharge">Supercharge</a>: I literally have an app installed called supercharge. It has a lot if nifty little enhancements (like a color picker!). And know only about 30% of them.</li>
        <li><a href="https://https://lowtechguys.com/rcmd/">rcmd</a>: a different way to quickly switch between apps using the right CMD key.</li>
        <li><a href="https://pasteapp.io">Paste</a>: a clipboard manager that makes it a lot easier to do a lot of copy+paste.</li>
        <li><a href="https://rectangleapp.com">Retangle</a>: a window manager that is quicker, snapper and offers some more options (e.g. restore to previous size) for managing windows than Apple gives us for free.</li>
        <li><a href="https://https://hyperkey.app">Hyperkey</a>: a way to make the caps lock key useful.</li>
        <li><a href="https://monocle.heyiam.dk">Monocle</a>: a nice little app that adds more focus to one app. Basically ensures I do not get distracted by the Reddit page I see behind MS Teams during meetings...</li>
      </ul>
    </dd>

    <dt>Games & media.</dt>
    <dd>
      <ul>
        <li><a href="https://castro.fm">Castro Podcasts</a>: for listening to my podcasts. The recent ownership transfer revitalized this app.</li>
        <li><a href="https://reederapp.com">Reeder</a>: for the little bit of RSS I use.</li>
        <li><a href="https://goodlinks.app">GoodLinks</a>: whenever I encounter a nice article on Mastodon, Reddit or Bluesky, I put them here to read later (or in most cases, never read...).</li>
        <li><a href="https://mercuryweather.app">Mercury Weather</a>: beautiful weather app on all platforms.</li>
        <li><span>Pokemon</span>: I basically play every Pokemon game I can.</li>
        <li><span>Netflix & Disney+</span>: must-haves for the kids.</li>
        <li><span>Apple Music & TV</span>: same as the above, but then for me!</li>
      </ul>
    </dd>
  </dl><aside class="flex --column --gap-1" data-size="small" aria-label="Top tags on the site">
      <div class="card | flex --column --center">
        <h2 class="mb-2">You can find me here</h2>
        {% include "partials/socials.njk" %}
      </div>
    </aside>
</section>
