---
layout: page
title: Hardware & tools
description: uses
---

<div class="card | maxw-3 | flex --column --gap-1 --stretch">
  <section class="info-section | sidebar --left --gap-000">
    <span class="text-primary">Hardware.</span>
    <ul>
      <li>Apple MacBook Pro 2023 (M2), 14inch</li>
      <li>Apple iPhone 15</li>
      <li>Apple iPad Mini (6th gen)</li>
      <li>Apple Magic Trackpad 2</li>
      <li>Nuphy Air75</li>
      <li><a href="https://www.therooststand.com">The Roost Stand</a></li>
      <li>Nothing Ear (2)</li>
    </ul>
  </section>
  <section class="info-section | sidebar --left --gap-000">
    <span class="text-primary">Coding.</span>
    <ul>
      <li><a href="https://zed.dev">Zed</a></li>
      <li><a href="https://ghostty.org">Ghostty</a></li>
      <li>Vivaldi</li>
      <li>Figma</li>
    </ul>
  </section>
  <section class="info-section | sidebar --left --gap-000">
    <span class="text-primary">Productivity.</span>
    <ul>
      <li><a href="https://todoist.com/">Todoist (task manager)</a></li>
      <li><a href="https://bear.app">Bear (long-form notes)</a></li>
      <li><a href="https://tot.rocks">Tot (scratchpad)</a></li>
      <li><a href="https://pasteapp.io">Paste (clipboard manager)</a></li>
      <li><a href="https://1password.com">1Password</a></li>
      <li><a href="https://raycast.com">Raycast (spotlight replacement)</a></li>
      <li><a href="https://tabtabapp.net">TabTab (window switcher)</a></li>
      <li><a href="https://hazeover.com/">HazeOver</a></li>
      <li><a href="https://icemenubar.app">Ice (menubar cleaner)</a></li>
      <li><a href="https://sindresorhus.com">Multiple apps from Sindre Sorhus</a></li>
      <li>Dropover</li>
      <li>Paletro</li>
      <li>AirBuddy</li>
    </ul>
  </section>
  <section class="info-section | sidebar --left --gap-000">
    <span class="text-primary">Misc.</span>
    <ul>
      <li>Spotify</li>
      <li><a href="https://castro.fm">Castro Podcasts</a></li>
      <li><a href="https://reederapp.com">Reeder (RSS)</a></li>
      <li><a href="https://goodlinks.app">GoodLinks (read it later)</a></li>
      <li><a href="https://mercuryweather.app">Mercury Weather</a></li>
    </ul>
</div>
