---
title: Writing
layout: layouts/page.njk
eleventyExcludeFromCollections: true
pagination:
  data: collections.writing
  size: 6
  alias: posts
  reverse: true
---

<div class="list-group | mt-3 flex-grow | fade-in">
  {% for year, yearPosts in posts | groupByYear | reverse %}
    <div class="sidebar-left --width-000 --gap-0 | mb-1 pb-1 separator">
      <span class="text-color-primary">{{ year }}</span>
      <div class="list-group | flex-col --gap-0" role="list">
        {% for post in yearPosts %}
          <div class="flex-col --gap-none click-area" role="listitem">
            <time date="{{ post.data.date }}" class="slash | size-00 text-color-1">{{ post.data.date | readableDate }}</time>
            <h2 class="size-1">
              <a href="{{ post.page.url }}" class="bold">
                {{ post.data.title }}
              </a>
            </h2>
            <span class="text-color-1">{{ post.data.description }}</span>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>