---
title: Writing
layout: layouts/paginated.njk
width: 4
eleventyExcludeFromCollections: true
pagination:
  data: collections.posts
  size: 10
  alias: posts
---

<div class="flex-col items-start">
  <aside class="flex-col --gap-000 mb-2">
    {% set tags = collections.posts | getAllTags | head(5) %}
    {% include "components/tag-list.njk" %}
    <a href="/tag-list" class="size-00 redirect self-start text-1">all topics</a>
  </aside>
  {% include "components/post-list.njk" %}
</div>