---
description: Blog
title: Stuff I write about
layout: paginated
width: 5
eleventyExcludeFromCollections: true
pagination:
  data: collections.posts
  size: 6
  alias: posts
---

<div class="sidebar --right --threshold-0 --gap-3 | --start | mb-5">
  {% include "components/post-list.njk" %}
  <aside class="flex --column --gap-1" data-size="small" aria-label="Top tags on the site">
    {% include "svg/profile-book.svg" %}
    <div class="card">
      {% set tags = collections.posts | getAllTags %}
      {% include "components/tag-list.njk" %}
    </div>
  </aside>
</div>
