<footer class="flex --column --gap-0">
  <div class="switcher --threshold-2 --gap-0">
    <div class="signature">
      {% include "svg/signature.svg" %}
    </div>
    <span class="quote | italic bold">"read to learn, try to know"</span>
    <div class="socials | flex --column --end">
      {% include "partials/socials.njk" %}
      <span class="mt-000">© {% year %} Kevin Pennekamp</span>
    </div>
  </div>
</footer>
