<footer class="flex --column --center --gap-0">
  <div class="repel --gap-0 --center">
    <div class="flex --row --center --gap-000">{% include "svg/signature.svg" %}<span>© {% year %}</span></div>
    <ul role="list" class="linklist | hover-group | cluster --gap-000">
			<li>
        <a href="{{ metadata.feed.path | url }}" title="RSS feed">
          <i class="fa-solid fa-rss icon" aria-label="General RSS icon"></i>
				</a>
			</li>
			<li>
        <a rel="me" href="https://github.com/crinkels" title="Link to my Github page">
          <i class="fa-brands fa-github icon" aria-label="GitHub brand icon"></i>
				</a>
			</li>
			<li>
			  <a rel="me" href="https://bsky.app/profile/crinkles.dev" title="Link to my Bluesky page">
					<i class="fa-brands fa-bluesky icon" aria-label="Bluesky brand icon"></i>
				</a>
			</li>
			<li>
			  <a rel="me" href="https://indieweb.social/@crinkles" title="Link to my Mastodon page">
					<i class="fa-brands fa-mastodon icon" aria-label="Mastodon brand icon"></i>
				</a>
			</li>
			<li><a href="/uses" title="Page with all the things I use ">/uses</a></li>
	  </ul>
  </div>
  <span class="quote | italic bold">"read to learn, try to know"</span>
</footer>
