<header class="center --threshold-5 | repel items-center">
  <a href="/" aria-label="Logo that redirects to the homepage" class="no-decoration">
    {% include "svg/logo.svg" %}
  </a>

  <nav aria-label="Main site navigation">
    <ul class="hover-group | cluster --gap-1" role="list">
      <li><a href="/writing">writing</a></li>
      <li><a href="/uses">/uses</a></li> 
      <li><a href="/about">about</a></li>
    </ul>
  </nav>
</header>
