/*******
* Generic styling
*******/
html,
body {
  font-size: var(--size-default);
  font-family: var(--sans-serif);
  background-color: var(--bg-default);
  color: var(--text-default);
  transition: all ease-in-out 100ms;
  min-width: calc(var(--min-width) * 1px);
}

// HEADINGS
h1,
h2,
h3 {
  width: 100%;
  line-height: 1.4;
  color: var(--text-default);
}

h1 {
  font-size: var(--size-h1);
}

h2 {
  font-size: var(--size-h2);
}

h3 {
  font-size: var(--size-h3);
}

// LINKS
a:link,
a:visited,
a:active {
  transition: all ease-in-out 100ms;
  text-decoration-color: var(--text-secondary);
}

a:hover,
a > *:hover {
  color: var(--text-secondary);
}

a.svg {
  position: relative;
  display: inline-block;
}

::selection {
  color: var(--bg-default) !important;
  background: var(--text-default) !important;
}

// QUOTES
blockquote {
  border-left: 0.25rem solid var(--text-secondary);
  padding: 0.25rem 1rem;
  font-style: italic;
  color: var(--text-default);

  p {
    opacity: 0.7;
  }

  cite {
    width: 100%;
    font-size: 0.875rem;
    display: block;
    text-align: right;

    &:before {
      content: '-- ';
    }
  }
}
