@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Inter-Regular.woff2?v=3.13') format('woff2'),
    url('/fonts/Inter-Regular.woff?v=3.13') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Inter-SemiBold.woff2?v=3.13') format('woff'),
    url('/fonts/Inter-SemiBold.woff2?v=3.13') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/Inter-Italic.woff2?v=3.13') format('woff'),
    url('/fonts/Inter-Italic.woff2?v=3.13') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/Inter-SemiBoldItalic.woff2?v3.13') format('woff'),
    url('/fonts/Inter-SemiBoldItalic.woff2?v3.13') format('woff');
}
