:root {
  // Colors
  --gray-100: #ffffff;
  --gray-200: #e0e6eb;
  --gray-300: #8e9398;
  --gray-400: #2a2e32;
  --gray-500: #121319;

  --purple: #755cf2;
  --green: #09a976;
  --red: #e60067;
  --blue: #4b6bdc;

  // Spacing and sizes
  --min-width: 320;
  --max-width: 1200;
  --base: 16;
  --scale: 4;

  // calculates the ratio that scales between 0px and 1px based on the screen
  // size
  --screen: calc(min(100vw, var(--max-width) * 1px) - var(--min-width) * 1px);
  --ratio: calc(var(--screen) / (var(--max-width) - var(--min-width)));

  // Font-sizes
  --size-default: calc(var(--base) * 1px + var(--scale) * var(--ratio));
  --size-h1: calc(1.75rem + 0.5 * var(--base) * var(--ratio));
  --size-h2: calc(1.375rem + 0.25 * var(--base) * var(--ratio));
  --size-h3: 1.25rem;

  // spacing
  --s1: calc(var(--base) * 1px + var(--base) * var(--ratio));
  --s0: calc(0.5 * var(--s1));
  --s2: calc(1.25 * var(--s1));
  --s3: calc(2 * var(--s1));

  // general-sizes
  --page-width: calc(var(--max-width) * 1px);
  --logo-size: calc(1.25 * var(--base) * 1px + 4 * var(--ratio));
  --card: 18rem;

  // font-family
  --sans-serif: proxima-nova, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  --monospace: Hack, Consolas, Menlo, Monaco, 'Courier New', monospace;
}

// default theme
body {
  --text-default: var(--gray-500);
  --bg-default: var(--gray-100);
  --text-secondary: var(--gray-300);
  --accent: var(--purple);

  --bg-footer: var(--gray-500);
}

// Themes
body.dark {
  --text-default: var(--gray-100);
  --bg-default: var(--gray-500);
}
